[2013-02-24 07:57] pauliusuza opened #3 "Record validation"
I'm trying to use this library to create new users on the support system, but it does not seem to work. users.create responds with:

[code]

I am most probably doing something wrong with the data formatting, but I cannot figure out what exactly. I would appreciate if you could provide a working example using users.create function.

[2013-03-05 14:53] eschrock opened #4 "use of jsonAPIName and jsonAPIName2"
I've just started to try and use this module, but it doesn't seem to work as the documentation and examples would lead you to believe. The client code appears to try to pull out the appropriate part of the result into the 'body' parameter to the callback:

[code]

But using the basic example of client.user.auth(), the names are set to:

  this.jsonAPIName = 'users';
  this.jsonAPIName2 = 'user';

[2013-03-05 15:16] eschrock opened #5 "use of global request library prohibits multi-tenant use"
I was trying to use this library as the backend for a server that would take user credentials and use them for zendesk queries. In the context of a single app, there could be multiple instances of the node-zendesk client, each with different authentication credentials.

This seems to be defeated by the use of the simplified 'request' module, as it uses a global cookie cache. Once anyone successful

[2013-03-05 23:00] #4 closed, assigned to nobody

[2013-03-09 19:42] #3 closed, assigned to nobody

[2013-03-09 19:50] #5 closed, assigned to nobody

[2013-09-19 20:15] eikelab opened #12 "support custom user and organization fields api"
here we go: https://github.com/blakmatrix/node-zendesk/pull/11

[2013-09-20 23:58] #12 closed, assigned to blakmatrix

[2014-01-31 12:52] rhrn opened #15 "Cannot read property 'next_page' of undefined"
Sometimes have error. I didn't catch url or body, but if i will i write here.

TypeError: Cannot read property 'next_page' of undefined

[code]

[2014-02-03 21:36] mstashev opened #16 "Ticket Creation"
How would one go about using this to create a ticket from outside of Zendesk and having it appear in Zendesk?

[2014-02-04 18:16] #16 closed, assigned to nobody

[2014-03-03 16:06] drobern opened #18 "TypeError: Cannot read property 'next_page' of undefined"
hello,

I am using your node module for my Zendesk project.

My application does interval reads for gathering the latest ticket information (client.tickets.list).

Periodically this fails with the above error. Full error:
TypeError: Cannot read property 'next_page' of undefined
    at /Users/ops/node/StrapTickets/node_modules/node-zendesk/lib/client/client.js:193:28
    at Request._callback (/User

[2014-04-04 00:59] #15 closed, assigned to nobody

[2014-04-04 01:00] #18 closed, assigned to nobody

[2014-04-30 05:26] jzabel opened #26 "Unable to hide console logging"
I'd like to remove the console logging that occurs on requests in my production app, and have passed: debug: false as an option when creating the client.  Looking into line 47 on client.js, my hope was that this would prevent the console logs.

However, in client/client.js each request emits to debug.  For some reason, it doesn't look like the debug function in client.js respects the debug.false o

[2014-04-30 19:20] #26 closed, assigned to nobody

[2014-07-08 01:20] talha-asad opened #32 "Search users by external_id"
Zendesk docs have this call, is it possible to directly use the external_id search rather than using it in a query. I think zendesk has specifically optimized the other query.
[code]

[2014-07-09 20:03] khezamian opened #33 "Add full TicketMetrics support"
http://developer.zendesk.com/documentation/rest_api/ticket_metrics.html

Currently, the only supported feature is listing ticket metrics per ticket. Adding support for the rest of the ticket metrics api would be helpful.

[2014-07-09 20:06] #33 closed, assigned to nobody

[2014-08-05 04:05] deoxxa opened #36 "Can't disable reading process.argv and process.env (really?)"
First off, it's a little bit insane to read global state from inside a library, but ignoring that, it's even more insane to not provide a way to disable that behaviour. This reminds me of [this systemd bug](https://bugs.freedesktop.org/show_bug.cgi?id=76935).

As it happens, I have an application that reads its own command-line arguments and uses some of the same flags as this... Library. This thi

[2014-09-16 01:44] talha-asad opened #38 "Version mismatch on npm and github"
NPM says `0.0.15` while github package.json says `0.0.14`

Also some dependencies should be upgraded, like request.

[2014-09-19 07:32] daniel-varela opened #39 "HPE_INVALID_CONSTANT when uploading a picture"
When uploading an image via attachments#upload I receive an strange error: [Error: Parse Error] bytesParsed: 1708, code: HPE_INVALID_CONSTANT

Unfortunately there is no stack trace available, which makes it difficult to search for the error. Could it be that the zendesk-module sets the wrong headers for that call?

[2014-10-13 22:59] #38 closed, assigned to nobody

[2014-10-15 00:24] cdaringe opened #43 "Ticket Incremental API Update"
I recently started having some ticket export issues.  It would appear that `export(time, cb)` has been changed/updated.

The zen api also says incremental mode is on beta now.  https://developer.zendesk.com/rest_api/docs/core/incremental_export

[2014-10-17 02:18] #43 closed, assigned to nobody

[2014-10-21 08:42] tkothe opened #44 "Include API bindings for triggers"
From what I can see, triggers are currently not accessible through these API bindings. Zendesk API doc is here https://developer.zendesk.com/rest_api/docs/core/triggers

[2014-11-04 22:23] spartan001 opened #46 "Get results one page at a time"
I would prefer to not have paging handled by this library. Is there a way to expose that so I can get results one page at a time?

[2014-11-18 20:47] #39 closed, assigned to nobody

[2015-01-13 19:40] JamesMGreene opened #47 "Add support for merging users"
Add support for merging users:
&nbsp; &nbsp; https://developer.zendesk.com/rest_api/docs/core/users#merge-users

[2015-01-13 20:07] JamesMGreene commented on #47
P.S. To anyone else looking to do this sooner than later, I used this "shim":

[code]

[2015-01-13 20:20] blakmatrix commented on #47
@JamesMGreene you got the code pretty much there, feel free to make a PR :)

[2015-01-13 20:45] JamesMGreene commented on #47
True enough. PR submitted.

[2015-01-13 20:52] #47 closed

[2015-01-13 20:56] #32 closed

[2015-01-13 20:58] blakmatrix commented on #44
Thanks, I will take a look and see if I can add this.

[2015-01-14 01:34] #36 closed

[2015-01-14 01:34] #44 closed

[2015-01-14 01:39] blakmatrix commented on #36
use option in node-zendesk@v1.0.0 `disableGlobalState: true` to achieve this desired effect.

[2015-01-20 15:14] drobern opened #52 "tickets.exportAudit now a List"
Hi,

I see that the callback of `exportAudit` is now a list.

I expected it to be the same as Zendesk doc: https://developer.zendesk.com/rest_api/docs/core/ticket_audits
This part is missing in the callback:
[code]

The previous version (about a year ago) conformed to the Zendesk doc.

Is there a reason this changed?

btw, thanks for fixing the attachment upload issue, that's why I downloaded the

[2015-01-28 21:15] leore opened #54 "nconf collision"
We use nconf in our app. When we integrate node-zendesk the nconf collides and causes our app to break. After looking into how nconf is used in node-zendesk I think it needs to be declared at the top of client.js to work correctly and not collide with other apps use nconf.

[2015-01-28 21:33] blakmatrix commented on #54
If you do an ad-hoc add of what you're mentioning does it work?

[2015-01-28 21:50] lifasky opened #55 "Create Articles"
// ====================================== Creating Articles
Articles.prototype.create = function (article, cb) {
  this.request('POST', ['articles'], article, cb);
};

It should be
// ====================================== Creating Articles
Articles.prototype.create = function (sectionID, article, cb) {
  this.request('POST',['sections', sectionID, 'articles'], article, cb);
};

[2015-01-28 21:53] lifasky opened #56 "Unable to update articles to helpcenter"
After submiting, it just return the json data without updating.

[2015-01-29 04:36] nnabuuu commented on #56
Any more details? I am just using it and it works.. Could you show me your code?

[2015-01-29 04:44] nnabuuu commented on #55
I just checked zendesk's site https://developer.zendesk.com/rest_api/docs/help_center/articles and I do have made a mistake : ( Going to fix it soon

[2015-01-29 06:16] lifasky commented on #55
The same for creating section, it should include a category ID. Thanks.

On Wed, Jan 28, 2015 at 8:44 PM, Nie Xiaochen <notifications@github.com>
wrote:

[2015-01-29 17:11] nnabuuu commented on #56
According to zendesk's explanation at:

[https://developer.zendesk.com/rest_api/docs/help_center/articles#update-article ]()

[code]

Maybe you need to choose translation api to do the update.

My working code for this api:

[code]

[2015-01-29 23:56] lifasky commented on #56
Hi Xiaochen,

I think that is Zendesk API problem. Some articles are able to be updated,
some are not.
I sent a request to ask them for help. Thanks.

Best,
Gloria

On Thu, Jan 29, 2015 at 9:11 AM, Nie Xiaochen <notifications@github.com>
wrote:

[2015-02-01 05:18] mgartner commented on #54
I've tried moving the nconf requirement to the top of the file, but still have no success. I'm thinking that maybe this is a shortcoming of nconf, and I've submitted an issue: flatiron/nconf#142.

That being said, I'm wondering if nconf is really necessary in packages such as this one, where it will often be required as a dependency in other projects. I don't understand the use case where environm

[2015-02-01 21:17] blakmatrix commented on #54
Short answer, yes I would be open to this.

I've been mulling over this for a while now, there are still some executing
scripts directly from command line with the library as is.

I've been at a loss for how to make this just a library, yet also provide a
easy way for others to continue using it as originally designed. Perhaps
converting it to a pure library while providing a section in the readme

[2015-02-01 22:15] mgartner commented on #54
Ya I think you could convert this to solely a library, and create a new repository for a node-zendesk CLI.

[2015-02-03 21:58] drobern commented on #52
Maybe it wasn't clear?

The result is now a list, and seems to be missing the fields above as well.

I see the list resultList is as expected and returns all fields

Thanks

[2015-02-17 00:02] btraxinger opened #59 "setImage functionality"
I have not seen a way to set an image for the user. Is this functionality included with node-zendesk?

[2015-02-27 16:44] davidearlotto opened #60 "Change Client Session"
Hi blakmatrix,
I was trying to copy tickets from one instance to the other, so the workflow is this:
-Create a zendesk client to get the ticket I want;
-Create the new client to create the tickets in the other instances;
-Call the function (tickets.create);
Debugging I see I'm still querying the initial client. Is There any method to kill the session and create a new one live?
Thanks!!

[2015-03-04 01:49] iconecd opened #62 "API throttling versus bulk data reporting"
I'm trying to build a report for some higher-ups that summarizes a vast amount of data, a month's worth of tickets and comments at a time. Naturally, once I start requesting comments from the zendesk API, I run up against the API throttle pretty quick.

Because zendesk doesn't provide a way to batch comment requests, a request denied due to throttling should be re-requested at or shortly after the

[2015-03-05 15:08] davidearlotto opened #63 "Create Tickets"
Hi blakmatrix,
 in these days I faced an issue which is blocking me:
the create function, for ticket, groups, users, don' t work properly. Debugging them I notice, in the json sent, there is no body, and the ticket I'm passing, using a simple curl request, is created.
[code]
Can you please help me, at least to understand where should I work on your code?
Thanks
Cheers!!

[2015-03-05 19:10] #56 closed

[2015-03-05 19:11] #55 closed

[2015-03-05 19:16] blakmatrix commented on #52
tracking this down to https://github.com/blakmatrix/node-zendesk/commit/d7f24c3c14a798609488d668929fa2b3381f1f06

request was changed to requestAll for "Modified tickets/audits to fetch more than 100 audits, added a third jsonAPIName parameter in support of that"

@drobern can we close this or is there more action necessary?

[2015-03-05 19:24] blakmatrix commented on #59
https://developer.zendesk.com/rest_api/docs/core/users#update-a-users-profile-image

let me see if I can whipsomething together for this, Zendesk has been updating thier api since I created this and while I've tried to stay on top somethings are still difficult :)

[2015-03-05 23:13] blakmatrix commented on #60
will be fixed in next version

[2015-03-05 23:13] #60 closed

[2015-03-05 23:16] blakmatrix commented on #54
@leore @mgartner I just made a change that should fix this issue #60 , please verify once i get the new version out the lines added are https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L22 and https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L47 , feel free to open if either of you think it needs to be reopened.

[2015-03-05 23:16] #54 closed

[2015-03-05 23:25] blakmatrix commented on #62
A long time ago I thought about this, I think I chose to leave it up to the user how to deal with this, I wanted to solve for this but at the time i could rarely hit this limit... I think it'd be good to have a helper function like this in request all, I'm still figuring out how to go about satisfying both camps... I would request that in your PR you allow for an option to toggle 429 auto retry, a

[2015-03-06 00:05] blakmatrix commented on #59
SO you can already do:
Setting a remote image URL using `user.update`

[code]
but I'll have to add in the direct upload option.

[2015-03-06 00:22] blakmatrix commented on #59
You can also upload an attachment to zendesk, then use the previous method to reference that file...

[2015-03-06 01:16] totaltrek commented on #62
For the high-urgency report I needed to create, I just throttled outside your library using a ...customized? version of this library: https://github.com/brianloveswords/throttle-function

I'm guessing you've never had to query the API for all of an organization's tickets for a number of months, including comments. Our helpdesk is very high-volume, typically 200 new tickets a day, and merely runnin

[2015-03-06 01:16] iconecd commented on #62
oops, that's my personal account. this is my corporate account. same person.

[2015-03-06 01:16] blakmatrix commented on #59
This seems to be difficult with the current implementation to use the form method to upload.

[2015-03-06 01:16] #59 closed

[2015-03-06 01:20] blakmatrix commented on #62
@iconecd: I'd gladly accept an example if you could throw a simple one together using that throttle-function package, I think it'd be useful to other users. No need to change the library.

[2015-03-06 01:23] iconecd commented on #62
I'll have to fork the throttle package and publish my version first. I'm still curious why requestAll shouldn't automatically manage API throttle calls. They're standardized across clients and methods, with specific temporary exceptions. Why shouldn't this be part of the library?

[2015-03-06 01:24] blakmatrix commented on #63
What is the code your using look like? the user-create example works for me.

[2015-03-06 01:26] blakmatrix commented on #62
Oh I'm sorry I misunderstood, You make a good case for it, If you want to modify `requestAll` I'm down for that, I just don't know what you know to implement this.

[2015-03-06 01:27] iconecd commented on #62
Great, I'll work on it when I can. Thanks!

[2015-03-06 10:48] davidearlotto commented on #63
Hi blakmatrix,

[2015-03-06 10:53] davidearlotto commented on #63
Hi blakmatrix,
my code is really simple, I just input a user/group/ticket to create it in this way:

   function createUser(User, ticket, key, cb){

	client.tickets.create(JSON.stringify(User),  function(err, req, result) {

	  if (err) return handleError(err);
	  //console.log((result, null, 2, true));
	  User.id = result.id;
	  ticket[key] = User.id;
	  console.log("RESULT: "+result);
	  cb();

[2015-03-07 04:17] jeffdagala opened #65 "Voice Channel Ticket Create"
Hi,

Does creating voice integration ticket supported?

https://developer.zendesk.com/rest_api/docs/voice-api/voice_integration

I tried to supply via_ids to 44 and the channel was API, although 45 and 46  (Phone Inbound and Outbound) value works well

[2015-03-09 19:41] drobern commented on #52
Don't think this was my problem... here is the code that I was trying:
exports.getAudit = function(id, callback) {
    client.tickets.exportAudit(id, function (err, statusList, body, responseList, resultList) {
      if (err) {
        console.log("Error audit id?");
        return;
      }
     callback(body);
    });
}

I always return 'body' for all other calls.. but for this one I have to retu

[2015-03-17 17:07] blakmatrix commented on #52
@drobern I'll have to take a look into this, the body was always reserved for the item for which you were soley trying to grab, in a way that would return as much as possible (but some people have hit `429` errors) while `rawResponse === arguments[3]` and `rawResult === arguments[4]`

Meanwhile along the way some one updated the `body` to be more useful from what I understand, returning just the r

[2015-03-17 17:16] blakmatrix commented on #63
@davidearlotto As far as I am aware, it looks like you are trying to make a ticket with the user object?
the spec is here https://developer.zendesk.com/rest_api/docs/core/tickets#request-parameters
and you can create a ticket sending this:
[code]

[2015-03-17 17:28] erikzrekz commented on #65
@blakmatrix ah, right. I don't use those other integrations, but I'll add them to this PR. That cool?

[2015-03-17 17:38] blakmatrix commented on #65
awesome thanks, made those just so I could merge your changes cleanly thanks!

[2015-03-17 17:38] #65 closed

[2015-03-17 17:48] blakmatrix opened #68 "Working Group Request"
Hey, I'd like to get some help on this project, I'd like to get a Working Group of a minimum of 2 other heads to help drive this project along, We would have to commit meeting at least monthly (if there is anything to meet about) over skype/hangout or gitter. The objective is simply to help drive changes forward and get a regular set of eyes on the project.

[2015-03-18 14:54] erikzrekz commented on #68
I'm interested in helping.

[2015-03-19 01:50] nnabuuu commented on #68
I would like to offer some help : ) But please just consider me as an alternative candidate due to the Time Zone and GreatFireWall issue : (

[2015-03-26 21:07] erikzrekz commented on #68
@blakmatrix any further momentum on this working group?

[2015-03-26 21:48] blakmatrix commented on #68
@erikzrekz @nnabuuu I've been super busy the past few weeks, In early April I'll revisit this, maybe we should try and find some time to Skype/google hangout/watever, this WG is new for me, but I know this project needs to keep its momentum and I can' always provide that by myself when I get busy :)

[2015-03-26 21:48] blakmatrix commented on #63
@davidearlotto Are you still having issues?

[2015-03-26 21:49] blakmatrix commented on #62
@iconecd thanks for that feature!

[2015-03-26 21:49] #62 closed

[2015-03-26 21:50] blakmatrix commented on #52
@drobern I was wondering if you got a chance to revert that change I mentioned a few days ago to your code?

[2015-03-26 21:51] iconecd commented on #62
hey, thanks for this library!

[2015-03-26 21:55] erikzrekz commented on #68
Totally. Just checking in.

[2015-03-29 01:16] nnabuuu commented on #68
I will check the notification regularly~

[2015-03-30 08:14] davidearlotto commented on #63
Actually not, your code works, something messy into mine.
I actually change my focus for a while so I didn't had time to check it.
Thanks anyway.
Cheers

[2015-03-30 08:14] #63 closed

[2015-03-30 15:39] drobern commented on #52
@blakmatrix

<code>rawResult</code> works using <code>this.requestAll</code>, it does not work using <code>this.request</code> (returns same list as body).

I'll leave this and use <code>rawResult</code> going forward.

[2015-04-02 10:44] davidearlotto commented on #63
I reopen it because the problem is still there in another way:
-If I create a stic variable as you did, I can create a ticket;
-If this ticket comes out of a JSON.stringify function I can't (the format and the data are the same):
    -I create a json: ticket.subject, ticket.description, ticket.comment;
    -I stringify it (I can see the same format you posted);
    -I create with the node zendesk

[2015-04-08 17:49] blakmatrix commented on #68
Hey Guys I'm reaching out to a few groups to see if we can get a few more people on board, I'd Ideally like to start with 5 but I'll settle with just one more if need be, or just @erikzrekz @nnabuuu @blakmatrix if absolutely necessary.

[2015-04-29 04:35] ckumar1 opened #79 "Help Center methods are unavailable when disableGlobalState is true"
Is there a way to enable the help center methods by passing in an option to the createClient method instead of using a command line parameter?

[2015-04-29 05:01] #79 closed

[2015-04-29 05:21] ckumar1 opened #80 "Subdomain parameter not working in Library mode"
The client initialization code for getting the subdomain option `nconf.get('subdomain')` does not return the subdomain when it is set from the createClient method options:

[code]

Replacing `nconf.get('subdomain')` with `options.stores.defaults.store.subdomain` seems to fix the issue.

https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L57

[2015-04-29 09:37] nnabuuu commented on #79
I think you can use {helpcenter: true} or {hc: true} in your options parameter

[2015-04-30 00:21] blakmatrix commented on #68
@erikzrekz @nnabuuu I'd like to set up a google hangout/skype/whatever in the near future to get to know each other, set up permissions on github/npm, help define the working group (get a `Contributing.md` and `GOVERNANCE.md` up), and talk about the future/roadmap of the tool.

I made a doodle s we can try and coordinate times, here http://doodle.com/qhwwfttutby2e654

(if there are any other inter

[2015-04-30 01:16] blakmatrix commented on #80
Interesting...

I found that adding `nconf.defaults(options.stores.defaults.store);` after line https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L55 seems to do the trick...

@erikzrekz do you think this will have any ramifications if we make this change? env/argv seem to take precedence when `disableGlobalState === true` we might be able to return to using `nconf.get('[option

[2015-04-30 01:19] #52 closed

[2015-05-03 16:14] ev-tt opened #81 "Search.query escapes search term"
Hello,

I want to do following query to search api:

[code]

when I'm using search endpoint

[code]

actual request sent to server turns into

[code]

and cannot be processed by search api

However code below works ( in case somebody needs workaround):

[code]

it sends correct request

[code]

[2015-05-04 15:27] nnabuuu commented on #68
Wow, I never used doodle before, so I'm learning how to use it : ) I just checked some time period at this weekend.

[2015-05-05 04:03] mzelmanovich commented on #80
I have yet to get helpcenter to work while in lib mode.

[2015-05-05 04:10] mzelmanovich opened #82 "Helpcenter returns 404"
I have used the following for my createClient:

[code]

It returns nothing but 404's for all the helpcenter methods. I have had no major issues accessing ticket information. Have verified that api can be accessed by using CURL.

**_Update**_ if helpcenter is true you still need to add help_center to the uri. As you can see above I did not and this caused the 404's. This seems like a minor thing bu

[2015-05-05 11:26] erikzrekz commented on #80
@blakmatrix  No, I don't anticipate any ramifications from this. Seems okay.

And yeah, let's see how we can return to using `nconf.get('[option key]')`. I was solving for initializing multiple clients when I put together https://github.com/blakmatrix/node-zendesk/commit/f7633a654df7159eecf152fdcffa730aa0f38f83. But let me take a look in the upcoming days. Will report back.

[2015-05-05 14:24] ckumar1 commented on #82
Although this is related to issue #80, it's slightly different because the remote_uri will never be set to the correct help_center path because the subdomain parameter is not provided when initializing the client.

Additionally, if the helpcenter parameter is set to true, is it expected that the client would only have access to the helpcenter api methods, and none of the core api methods?

[2015-05-05 17:56] blakmatrix commented on #68
@erikzrekz Sweet looks like we got a time to chat this upcomming weekend, Saturday May 9th, 7-8am PST.
I know of skype or google hangouts, they both work well for me but how about you two?

[2015-05-06 09:15] emimvi opened #83 "Undefined result: "Cannot read property 'next_page' of undefined""
I have an application occasionally requesting a list of tickets from zendesk, in which i get the following error:

[code]
Using node-zendesk v. 1.0.2

I'm not very much into http requests in general, but could a check be introduced on the result object - or am i doing something wrong?

Regards.

EDIT: I think it might be due to a request timeout, but i don't see how the error would slip past the e

[2015-05-06 14:19] erikzrekz commented on #68
@blakmatrix both work for me. My name is eriks.reks on Skype.

[2015-05-06 15:39] nnabuuu commented on #68
Skype does not work for netizens living in Great Fire Wall : (

[2015-05-06 16:22] blakmatrix commented on #68
@nnabuuu google hangout or some suggestions?

[2015-05-08 03:23] nnabuuu commented on #68
Yes, hangouts works for me, though I still need an vpn to access it, but it requires less network traffic

[2015-05-08 03:33] nnabuuu commented on #82
1. That is not the remoteUri for helpcenter, helpcenter support following 2 kinds of remoteUri:

`http://test.zendesk.com/hc/api/v2` or `https://test.zendesk.com/api/v2/help_center`

In you case, I suggest you use `subdomain: 'test'` instead, so that node-zendesk will organize the remoteUri for you. Sorry I haven't made it smarter to check the remoteUri : (

2. You could create another client usin

[2015-05-08 03:37] nnabuuu commented on #82
Hi @ckumar1 , I saw your update. I agree with you, and I will come up with a PR to fix this : )

[2015-05-08 19:37] erikzrekz commented on #68
Google hangout works!

[2015-05-09 14:04] blakmatrix commented on #68
https://plus.google.com/hangouts/_/g3tgnxddgh27nyognprtf6zlnaa

[2015-05-15 03:48] #68 closed

[2015-05-17 08:28] nnabuuu opened #90 "Should we allow optional arguments or not?"
I am making up the missing HelpCenter endpoints, and I meet this one:

[code]

Generally this end point act the same as:

[code]

The only different is the first one would put locale code in URL like `api/v2/help_center/**fr**/sections/{id}/articles.json`

And the second one need to specify the locale code in article object `{locale: 'fr'}`

So I would like to query you if we have a pattern for th

[2015-05-17 10:38] blakmatrix commented on #90
I've taken the form as shown here https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/attachments.js#L15
a bit more complex is https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/useridentities.js#L31 - except with that one the format is the optional bit

When I worked at nodejitsu back in the day I used the form of this (https://github.com/nodejitsu/jitsu/blob/master/l

[2015-05-17 10:45] blakmatrix commented on #90
Also regarding simplicity, for `GET /api/v2/help_center/{locale}/sections/{id}.json` We could also create a method named `createBySectionWithLocale` but I feel as if that is almost overly verbose and I'd personally use the option format over that.

[2015-05-17 14:13] nnabuuu commented on #90
Using an `options` object would break the backward compatibility.

Since in both end points we need to use `sectionID` to specify where the article belongs to, the prepositional phrase `bySection` could be omitted. I finally choose `createWithLocale` for this new end point.

I am also thinking we can apply the same rule to name an end point: Methods like `listByUser` is where user need to pass `us

[2015-05-20 20:46] BobDickinson opened #91 "User Identity Update doesn't support updating values"
https://developer.zendesk.com/rest_api/docs/core/user_identities#update-a-given-user-identity

There are two modes of this command, one to update "verified" and one to update "value".  The current implementation does this:

[code]

which handles the first case.  I need to update the identity value, which does not appear to be supported.

[2015-05-25 16:56] BobDickinson commented on #91
FWIW, I just did this in my client code:

    client.useridentities.updateValue = function (userID, userIDentityID, value, cb)
    {
        this.request('PUT', ['users', userID, 'identities', userIDentityID], { "identity": { "value": value } }, cb);
    };

[2015-05-25 19:54] erikzrekz commented on #90
Since the locale is mandatory when creating something new in the help center, I'm of the opinion that we just utilize the option object. Seems straightforward and included already in the post body.

Plus the documentation reads:

@nnabuuu if this is the case and we choose to go this route, then we should disregard the create endpoints that have the locale defined and only use ones like `POST /api/

[2015-05-25 22:03] erikzrekz commented on #81
@ev-tt thanks for the workaround.

Looks like we have some differences with how we're treating search. `/node-zendesk/lib/client/search.js` uses `this.request('GET', ['search', {query: searchTerm}], cb);};`

Other searches like `/node-zendesk/lib/client/organizations.js` use `this.requestAll('GET', ['*', 'search', params], cb);`

And like you mentioned, even the last example requires that the para

[2015-05-25 22:09] erikzrekz commented on #81
@blakmatrix @nnabuuu I think we should stick with `requestAll` when searching. Which means we update the methods `search.query` and `search.queryAnonymous.`

Any further thoughts?

[2015-05-25 22:30] erikzrekz commented on #83
@emimvi a fix was put in for this here https://github.com/blakmatrix/node-zendesk/commit/7743192c6fbd92287355ec0b1a0d20c6a108ccc8.

Feel free to update your file or update the library.

[2015-05-25 22:30] erikzrekz commented on #83
@emimvi a fix was put in for this here https://github.com/blakmatrix/node-zendesk/commit/7743192c6fbd92287355ec0b1a0d20c6a108ccc8.

Feel free to update your file or update the library.

[2015-05-25 22:39] erikzrekz commented on #91
Cool. Thanks for writing this up. Marking as a bug/enhancement. Would you prefer that there was just one method for this instead of two?

[2015-05-28 05:45] deiga opened #93 "requestAll callback only called after all pages have been loaded"
It seems to me that requestAll callback only gets called when the whole request has been called. I was kind of hoping that there was an option to do the callback after each page, so that I wouldn't overload my process memory, when querying all tickets ever...

[2015-05-28 14:25] btmdave opened #94 "HelpCenter methods returning 404"
Using the client, i've set `helpcenter: true` and have tried both `searchArticlesByLabels` and `searchArticles`, both of these are returning errors with 404 and a buffer in the result.

This is the request being made (note: I replaced our subdomain here):
[code]

[2015-05-29 01:54] erikzrekz opened #95 "No support for deep links when searching help articles"
There's currently no way to filter articles either by label_name or by any of the other options (sort_by, sort_order).

This is the endpoint that we'd need to support in most article methods.
`GET /api/v2/help_center/articles.json?label_names=photos,camera`

[2015-06-04 15:47] ckumar1 commented on #94
See issue #82

[2015-06-05 01:14] nnabuuu commented on #90
OK, let's do this: I will make 2 methods `byLocale` and `withLocale`, but I would add a warning message in `byLocale`, we wouldn't delete the `byLocale` method until a major version upgrade.

[2015-06-15 15:23] erikzrekz commented on #83
@emimvi I'm opening this back up as I saw this again recently after https://github.com/blakmatrix/node-zendesk/commit/7743192c6fbd92287355ec0b1a0d20c6a108ccc8.

What methods are you using? Were you able to pinpoint which call returned this error?

[2015-06-15 15:40] erikzrekz commented on #83
Does this https://github.com/blakmatrix/node-zendesk/pull/97 cover any of the methods you were using?

[2015-06-15 19:43] emimvi commented on #83
No i only used the client.ticket.list function. At the time my internet connection was pretty bad, so the function often returned errors which i could then handle. The time it crashed though, it seems like the request returned neither an error or a result, which is kinda weird.

[2015-06-15 19:55] erikzrekz commented on #83
Yeah, I double checked the error handling and put this in - https://github.com/blakmatrix/node-zendesk/pull/98. I am however still investigating to see what's up.

[2015-08-18 13:14] larssb opened #103 "Update many users Zendesk REST API option. Coming?"
Hi creators of node-zendesk.....

I was wondering if there are any plans for implementing the Zendesk Update-many-users endpoint. It can be found here: https://developer.zendesk.com/rest_api/docs/core/users#update-many-users

It would be far easier than having to iterate over users and create them 1by1. Before then requesting the Zendesk REST API to create each user by individual requests. I hope

[2015-08-18 13:58] nnabuuu commented on #103
Yes we have that plan.. Well let's check (In the weekend maybe ( •̀ᄇ• ́)ﻭ✧) if we can have a quick implement for it and whether there is any blocking issue.

[2015-08-19 08:45] larssb commented on #103
@nnabuuu fantastic. Looking forward to hear more from you guys. Yeaaah! :-D

[2015-08-26 20:59] larssb commented on #103
@nnabuuu thank you....just downloaded the new files today. Looking forward to try it out. Do you know when a new NPM will be released or is this not considered for a incremental jump in version?

Again thank you.

[2015-09-01 22:23] nnabuuu commented on #103
Oh.. That thing.. I forgot as I never did any release it in NPM... Maybe @erikzrekz  and @blakmatrix will do it..

[2015-09-02 19:42] erikzrekz commented on #103
@nnabuuu @larssb just bumped to v1.1.5 :+1:

[2015-09-07 18:02] #95 closed

[2015-09-17 14:16] larssb commented on #103
Thank u...I've also tested/implemented the new way of updating many users. It works. So thnx! I think you can close this one.

[2015-10-02 12:41] Zig1375 opened #110 "Helpcenter get articles list"
I try to get article list and see { [Error: socket hang up] code: 'ECONNRESET' }
NodeJS 4.1.1

PS: category list and section list work fine

[2015-10-02 17:56] nnabuuu commented on #110
Hi @Zig1375 , Can you please show your code here? From listing category to article. I have no issue with article list in my environment

[2015-10-02 18:29] Zig1375 commented on #110
Before NodeJS update, it all work. But after update from 0.12 to 4.1.1 I always have an error.
[code]

[2015-10-02 22:14] nnabuuu commented on #110
OK, let me check with that node version...

[2015-10-07 20:33] CodeOtter opened #111 "No sort support?"
https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/search.js#L19

I see no query sorting?

[2015-10-07 22:10] nnabuuu commented on #111
Looks like it's not implemented in node-zendesk yet. You are welcomed to contribute this Endpoint : )

I believe an /*Optional*/ parameter should be added for this function.

[2015-10-11 12:45] jstjoe opened #112 "add support for Sessions end-point"
Hello :)

Zendesk recently implemented a server-side sessions store, complete with REST API end-points. Anybody got plans to add these in to node-zendesk?
https://developer.zendesk.com/rest_api/docs/core/sessions

If not I may have a go at it, but wanted to check first (and track here as an issue).

Thanks!

[2015-10-11 14:06] erikzrekz commented on #112
@jstjoe we could definitely get this in! Thanks for mentioning it.

[2015-10-17 20:46] jonhill04 commented on #110
I'm getting this error too....any updates?

[2015-10-26 15:10] didil commented on #110
I also see this type of errors from time to time with node v4 , on all api methods

 Error: socket hang up
    at createHangUpError (_http_client.js:203:15)
    at TLSSocket.socketOnEnd (_http_client.js:288:23)
    at emitNone (events.js:72:20)
    at TLSSocket.emit (events.js:166:7)
    at endReadableNT (_stream_readable.js:893:12)
    at doNTCallback2 (node.js:429:9)
    at process._tickDomainCa

[2015-11-03 18:28] masonicGIT commented on #110
Same issue with node v4.1.1, getting { [Error: socket hang up] code: 'ECONNRESET' }

[2015-11-04 23:25] nnabuuu commented on #110
Could anyone provide your platform information?

I am not able to reproduce it on Windows x64 node v4.1.1 , and 4.2.2 also works fine : (

Thanks

[2015-11-05 01:34] dbaq commented on #110
Hey guys,

I just started today with this plugin, I got the same error.

MacOS
node -v
v4.2.1
express
^4.13.3
node-zendesk
^1.1.5

Let me know if I can help.

[2015-11-06 13:32] Zig1375 commented on #110
MacOs 10.11 (Node v5.0.0)
FreeBSD 10.2-RELEASE-p5 (Node v4.1.1)

[2015-11-08 16:41] didil commented on #110
Ubuntu 14.04 . Node v4.1.1

[2015-11-12 04:30] rpnzl commented on #110
I'm getting a similar error (`Unhandled rejection RequestError: Error: socket hang up`) with Node v5.0.0 using `request-promise` against the Zendesk API, the common elements seem to be the `request` library and Node versions > 4.

[2015-11-14 19:16] dlmoody opened #117 "It would be nice to have a importWithSideload"
It would be nice to be able to just pass a string into ticketexport.export so i can specify the objects to side load. I have already tried it. You could use it like this

[code]

[2015-11-16 04:00] #117 closed

[2015-11-16 17:51] nnabuuu commented on #110
I used MacOS 10.11 and Node v4.1.1, but still not able to reproduce : (

I am using following code

[code]

And my output is:

[code]

[2015-11-17 17:40] callumacrae opened #118 "Socket hanging up on `.queryAll`"
Hey!

I have this code:

[code]

I'm getting this error:

[code]

There are only 550 or so tickets being returned, which is 6 pages of results. Any ideas why it isn't working?

[2015-11-19 10:01] didil commented on #118
I think you have the same issue as other users (including me) are getting when using node v4+ https://github.com/blakmatrix/node-zendesk/issues/110 , you might wanna report the issue in the other ticket

[2015-11-19 11:57] callumacrae commented on #110
My code:

[code]

My error:

[code]

My system:

[code]

Previous issue: https://github.com/blakmatrix/node-zendesk/issues/118

[2015-11-19 11:57] callumacrae commented on #118
Cool, thanks. Closing this one.

[2015-11-19 11:57] #118 closed

[2015-11-23 14:48] callumacrae commented on #110
@nnabuuu this is blocking me at work, would be really good to see a fix.

I can have a look at fixing it: where would you recommend I start looking? I am completely unfamiliar with this library :)

[2015-11-23 21:32] nnabuuu commented on #110
@callumacrae Thank you, I was only trying to retrieve around 5 articles as I as using a new applied account for test.

If you would like to have a look, you may want to start from `lib/client.js` which is the entrance of node-zendesk, then the network request part is at `lib/client/client.js`. Most of the rest js files are corresponding to a certain endpoint. Eg, `client/helpcenter/article.js` is

[2015-11-24 11:38] didil commented on #110
@nnabuuu by the way the issue doesn't have anything to do with articles. I've faced it with various endpoints, I think it's more of a client issue

[2015-11-25 11:10] callumacrae commented on #110
@nnabuuu I'm taking a look now. It is only an issue with a large number of tickets: if I make a search with only a few results, it works fine.

[2015-11-25 11:24] Zig1375 commented on #110
@nnabuuu I use your code, and my result:

[code]

[2015-11-25 12:20] callumacrae commented on #110
I made a detailed issue on the request issue, which is where I think the problem is: https://github.com/request/request/issues/1934

[2015-12-14 15:02] henrypenface commented on #110
Not sure if anyone is still looking at this, or the issue linked by @callumacrae

Also having this issue on a production service at the moment, using node 4.2.2, Linux 3.18.

Only seems to be happening for us when retrieving specific Zen Desk tickets. Always seems to fail on the same ones.

[2015-12-17 03:10] kristofmic commented on #110
Experiencing this issue as well using both the request module (v2.67.0) and the node-zendesk module, which is also relying on request. I tried it on node v4.2.2 and v4.2.3. It works fine with requesting `sections` from the helpdesk, but when I request `articles` it sporadically works. This is the error that typically returns:

[code]

I have very similar code to make requests to other APIs and thi

[2015-12-21 18:13] hereismass commented on #110
Hello, Experiencing the same issue here.
[code]

It only occurs on articles, but as pointed before it is certainly related to the amount of articles compared to the sections or categories.

So for now the only way around is going back to 0.12 ?

[2015-12-22 13:20] Shrutichhatbar commented on #91
Can I have an example of creation of user identities?

[2015-12-22 13:58] marian2js commented on #110
Hello everyone, I have the same issue.

I reproduced it also with the module `https` and doing the requests directly to the Zendesk API without this library.

I can only reproduce it doing this 2 requests together, if I only run one of these, they work fine.

I'm using node v4.2.3

[code]

[code]

[2015-12-22 14:24] henrypenface commented on #110
To follow up to my previous comment, the specific tickets I am trying to retrieve have significantly more comments than usual. This goes along with people having issues with getting longer articles.

[2015-12-22 14:45] didil commented on #110
Indeed I also see this issue with large tickets

[2015-12-22 23:15] callumacrae commented on #110
So it looks like it could be a problem with node itself? Has anyone looked to see if there is an issue on the node repo?

[2015-12-24 09:32] henrypenface commented on #110
Another issue here with only a couple of comments but them being longer comments. Shortening them down and creating a new ticket on Zendesk allows my code to work.

[2016-01-07 21:38] YoshProgrammer commented on #110
Encountering this same issue with trying to retrieve macros or users.

Node v 5.4.0

[code]

Def seems linked to the client itself, probably will have to use the official PHP library if can't get this figured out as rolling back Node won't work for me.

[2016-01-13 12:23] didil commented on #110
Thanks to the example of @marian2js I think I found a fix for this, just opened a PR #120

[2016-01-14 17:02] erikzrekz commented on #110
Just mentioning it here again -- but PR #120 appears to fix the `socket hang up` issue

[2016-01-14 17:29] erikzrekz commented on #83
@emimvi I'm going to close this out as I haven't heard about this issue in a while. Feel free to open back up if it persists.

[2016-01-14 17:29] #83 closed

[2016-01-14 17:30] #103 closed

[2016-01-14 17:31] erikzrekz commented on #94
Since this is a duplicate. I'll tag and close out. Please refer to #82 for comments and updates.

[2016-01-14 17:31] #94 closed

[2016-01-15 16:31] #110 closed

[2016-01-19 15:30] callumacrae opened #122 "View update doesn't accept data to update"
https://github.com/blakmatrix/node-zendesk#views

It needs some data to update: https://developer.zendesk.com/rest_api/docs/core/views#update-view

Is this a bug or am I doing something wrong?

[2016-01-20 14:46] erikzrekz commented on #122
Can you share the code you're using and what exactly you're trying to do? I
can try to help.
On Tue, Jan 19, 2016 at 10:30 AM Callum Macrae <notifications@github.com>
wrote:

[2016-01-20 15:32] callumacrae commented on #122
[code]

[2016-02-18 02:07] jstjoe opened #126 "Incorrect error handling if "retry-after" header is present"
# Problem

It appears that node-zendesk checks for a 'Retry-After' header on the response from the Zendesk API, and if it finds one it overrides the status code to 429 and uses a specific - and incorrect - error string "Zendesk rate limits 200 requests per minute".
### Details
1. Zendesk will include a 'Retry-After' for more than just 429 errors. Specifically we include one for a 503 error: https:

[2016-02-26 03:55] zenahirsch opened #127 ""Unprocessable Entity" when creating a category"
I am using the `categories.create()` method. Each time, I am getting the following error:

[code]

When I make the request via curl, it succeeds:

[code]

Here's the code I'm using:

[code]

Any ideas? Thank you!

[2016-02-28 14:43] zenahirsch opened #128 "Subdomain changes when passing params to macros.listByParams()"
I'm running into a strange bug, and I'm not sure if it's on my end or not. I'm building a CLI for ZenDesk; one of the things it does is allow the user to list macros, and optionally control the sort order by using an option: `-s <sort>`. If this option is not specified, my code defaults to `alphabetical`. See below:

[code]

Above, no `sort` option was passed, and the request URI is built correctl

[2016-02-29 01:59] erikzrekz commented on #128
listByParams should be an object - https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/macros.js#L23

So if you were to run the client within an example folder, it would be

[code]

And this is working fine for me.

I'd recommend taking a look at how you're storing the `options.sort`. Seems from this distance that you're just overwriting the subdomain.

[2016-02-29 02:01] erikzrekz commented on #126
Thanks @jstjoe. I'll take a look into how we can update this this week.

[2016-02-29 02:05] erikzrekz commented on #122
@callumacrae this looks like an issue with https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/views.js#L47.

The view object isn't included in the function signature. I'll mark as a bug so we can update this soon.

[2016-02-29 10:01] callumacrae commented on #122
I can send a pull request if that would be easier. Is it just a case of updating the function signature?

[code]

[2016-02-29 20:42] erikzrekz commented on #122
Yep, that and updating the readme.md (https://github.com/blakmatrix/node-zendesk#views)!

[2016-03-07 09:32] matt-in-a-hat opened #129 "Client part not loaded (requestAll etc)"
Has `Client` accidentally been forgotten in the list of parts pulled together by the main lib file ([here](https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L5))?

I was expecting to be able to call `.client.request` as per the readme but it didn't exist.

[2016-03-19 20:41] baohouse commented on #111
Definitely not a trivial change to support optional parameters on the existing methods. Assuming you pass in sort options as an object:

`{
  sort_by: 'created_at',
  sort_order: 'asc'
}`

The methods would have to be updated, e.g. (and this is not the most elegant solution, but just something I quickly whipped up for my own project)

`Tickets.prototype.listByUserRequested = function(userID) {
  v

[2016-03-22 04:21] omer321 opened #132 "Unable to update Custom Field value"
When running `update(80, {“ticket": {"custom_fields": [{"id": 31186457, "value": false}] }});`

The response returns a JSON object without error and the custom field value does not change.

Please advise.

[2016-03-24 20:38] ashevch commented on #132
You have different quotes in the ticket, and also if you are using dropdown menus for that custom field you need to match exactly the tag of predefined value otherwise zendesk api will just drop you changes of custom value without any errors.

[2016-03-25 16:10] erikzrekz commented on #129
@matt-in-a-hat yeah, definitely an oversight. We can get that in.

[2016-03-25 16:10] #128 closed

[2016-03-25 16:11] erikzrekz commented on #127
Double check what you're passing up. The 422 `Unprocessable Entity` is Zendesk's way of saying something isn't matching correctly. It's sometimes a pain to debug,

[2016-03-27 02:57] erikzrekz commented on #122
@callumacrae this will be updated in the v1.1.9 release - https://slack-files.com/T04LRT0NA-F0VNC4PL0-27e43520b3

[2016-03-29 11:17] callumacrae commented on #122
:tada:

[2016-03-30 04:55] omer321 commented on #132
Awesome!  The different quote was the issue.

[2016-03-30 04:55] #132 closed

[2016-04-04 09:11] casalot opened #139 "Getting List of tickets for Assignee"
Hi, which method should I use to get a list of tickets assigned to a User? This is the API call: `GET /api/v2/users/{user_id}/tickets/assigned.json`

[2016-04-29 03:21] EXC-BAD-ACCESS opened #140 "seems to be a problem with jobstatuses.watch(jobStatusID, interval, maxAttempts, cb)"
using npm version 1.1.8

jobstatuses.show(jobStatusID) works fine, but when calling jobstatuses.watch(...) i get back an error:

`at Request.init (.../node_modules/node-zendesk/node_modules/request/request.js:286:31)
at new Request (.../node_modules/node-zendesk/node_modules/request/request.js:140:8)
at request (.../node_modules/node-zendesk/node_modules/request/index.js:55:10)
at null._request (.

[2016-05-02 06:33] AppSorcery commented on #140
probably not the correct solution, but: #141

[2016-05-07 15:42] #122 closed

[2016-05-07 16:26] erikzrekz commented on #127
Gonna close this for now. Like I said before, 422's are a result of Zendesk not liking some data that you're trying to use.

[2016-05-07 16:26] #127 closed

[2016-05-09 19:43] trystanj opened #144 "1.1.9 has implicit ES2015 requirement"
Seems like the 1.1.9 release has an implicit ES2015 requirement (which is a change) while not bumping semver significantly.

Specifically, [this line](https://github.com/blakmatrix/node-zendesk/commit/42251c0748ae75ff5a872ad60ed13033a92453aa#diff-0474b494224d683ee3c020d040e13f13R59) added Object.assign. This is a [Node v4+ feature](http://node.green/#Object-static-methods), which is a large depart

[2016-05-14 18:42] erikzrekz commented on #144
@trystanj reverted here - https://github.com/blakmatrix/node-zendesk/pull/145. Thanks for pointing it out.

I don't think I can republish the npm package v1.1.9 (as its been deprecated - https://github.com/npm/npm/issues/8305) so I'm not sure what to do there.

[2016-05-17 23:01] trystanj commented on #144
If there are features in 1.1.9 that people have already started relying on, maybe not. You could publish the fixed version as 1.1.10? That would keep everything in 1.1.9 working while fixing the ES2015 thing. Unless, of course, other things in 1.1.9 relied on the reverted code - I'm not familiar enough with the codebase to know. It *looked* like that was mostly a stylistic change?

Thanks for the

[2016-05-23 13:33] lumpov opened #146 "use nextPage"
Sorry, could you explain how can I use nextPage with client.search.queryAll?

[2016-05-25 14:19] joerick commented on #144
+1 on republishing a fixed version as 1.1.10 - even if this is just the same code as 1.1.8 retagged with an updated version number! NPM likes to update modules to the latest 'patch' release, so my server was pulling down a different version from what I developed with, so it died in production >.< I've learned my lesson, I'll lock packages down to exact version numbers from now on, but it might hel

[2016-05-26 11:58] forsberg1 opened #149 "Missing locale support for help-center category list"
Is there a reason why this is not implemented?

If no i can make a fast PR to fix this :)

[2016-05-26 19:35] ghs opened #150 "TypeError: undefined is not a function"
Today changed from 1.1.8 to 1.1.9 and everything crashed :(

`var options = Object.assign({}, this.options),
TypeError: undefined is not a function
    at Client.request (/node_modules/node-zendesk/lib/client/client.js:59:24)
    at Client.requestAll (/node_modules/node-zendesk/lib/client/client.js:121:20)`

Both normal and oauth. Tried also with new tokens thinking that could be a ZD problem, but

[2016-05-26 19:43] #150 closed

[2016-05-26 19:43] ghs commented on #150
Now saw the other issue about the Object.assign.

[2016-05-26 19:44] ghs commented on #144
I am also for republishing. In my case everything burned...

[2016-05-27 15:41] nnabuuu commented on #149
Looks like this is a new supported feature.

I will go through all the docs to see if there is more to be added for helpcenter.

PR is always welcomed : )

Thanks

[2016-05-28 05:48] nishikawa7863 opened #151 "401 Not Aauthorized"
I'm getting a 401 Unauthorized when trying to create a ticket, I'm getting the following message:

Zendesk error:  { [Error: Zendesk Error (401): Not Authorized]
  statusCode: 401,
result: <Buffer 7b 22 65 72 72 6f 72 22 3a 22 43 6f 75 6c 64 6e 27 74 20 61 75 74 68 65 6e 74 69 63 61 74 65 20 79 6f 75 22 7d>,
 retryAfter: null }

I've updated to the latest version, but still getting the same messag

[2016-06-03 22:28] marcelonidal opened #152 "Authentication not working"
Hey guys,
I'm in trouble with the api use.

When i try to do an user list, it gets me a 401 forbidden.
When i do an user/me, it returns a guest user.

I'm using the username and token.

When i make a curl request on the terminal, it returns as expected with the defined user.

Is something wrong with the authentication?

Waithing for some help,

Thanks!

[2016-06-06 15:24] marcelonidal commented on #152
Hi,
I discovered that i was sending the wrong username, but i still having problems in authentication.

When i authenticate with a password, i have success on the process, but with the token i got no luck.

PS: Now even with curl the token isnt working.

If someone could help i would be greatful,

Thanks!

[2016-06-07 16:17] alowenst opened #153 "Why isn't there a tickets.createMany()?"
Any plans to implement that?
Thanks.

[2016-06-08 14:16] pmig opened #154 "Voice Integration: Open a user's profile in an agent's browser"
That and all other Voice Integration Endpoints are missing.

I will start with this one right away

See: https://developer.zendesk.com/rest_api/docs/voice-api/voice_integration#open-a-users-profile-in-an-agents-browser

[2016-06-08 14:20] pmig opened #156 "Promise Support"
Hi,

Do you have any plans for adding Promise Support?

Best, Philip

[2016-06-27 15:14] viniciuszambotti opened #157 "Create user with default password"
Hi. This is not a issue, but I would like to know if I can create a user with a default password. If I can, please tell me how.

Tks.

[2016-07-03 15:24] erikzrekz commented on #112
@jstjoe not sure if you saw this, but there is now `sessions` support -- https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/sessions.js. Closing this out.

[2016-07-03 15:24] #112 closed

[2016-07-03 15:40] erikzrekz commented on #139
Hey @casalot, can you point me to the documentation for what you're describing? I can only find https://developer.zendesk.com/rest_api/docs/core/users#user-related-information which explains `/api/v2/users/{id}/related.json`

[2016-07-03 16:12] erikzrekz commented on #140
@AppSorcery thanks for bringing this up. Yeah, I think your PR solves for this. But the origin really is https://github.com/blakmatrix/node-zendesk/blob/master/lib/client.js#L67.

We can address how we use `nconf` at a later time since that's sort of the culprit. It's been brought up a bit in another thread (See https://github.com/blakmatrix/node-zendesk/issues/80).

[2016-07-03 16:13] erikzrekz commented on #140
@nnabuuu any thoughts on this?

[2016-07-03 16:15] erikzrekz commented on #157
It looks like it's possible with the API (See: https://developer.zendesk.com/rest_api/docs/core/users#set-a-users-password)

However, it doesn't look like it's supported yet.

[2016-07-03 16:16] erikzrekz commented on #156
No plans yet. Could be a nice addition though!

[2016-07-03 16:17] erikzrekz commented on #154
Thanks. I'll consider this closed since you're working on #155.

[2016-07-03 16:17] #154 closed

[2016-07-03 16:19] erikzrekz commented on #152
Hey @marcelonidal, I haven't had any problems authenticating. Might be that how you're creating Zendesk is incorrect. Or it might be a permissions thing. Check if the token is active.

[2016-07-03 16:19] erikzrekz commented on #152
Since this isn't an issue with the library, I'm going to close out.

[2016-07-03 16:19] #152 closed

[2016-07-03 16:21] erikzrekz commented on #151
@nishikawa7863 could be how you're authenticating yourself. Have any tokens changed? I just made some requests with the recent version and all worked fine.

[2016-07-03 16:22] erikzrekz commented on #149
@forsberg1 feel free to up a PR for this.

[2016-07-03 16:23] erikzrekz commented on #153
@alowenst we definitely could/should. Seems useful.

[2016-07-18 15:56] damarnez commented on #151
I have the same Issue, only NODE_ENV=production.

[2016-07-18 20:41] nishikawa7863 commented on #151
I was never able to get around this. No changes to tokens at all. Tried OAuth as well and was not able to make it work. We're running Meteor, so I'm not sure if the issue might be similar.

[2016-07-19 17:02] jbcoder opened #161 "Does updateMany for Tickets support both types of calls?"
I'm looking at using the ticket `updateMany` function to update many tickets--each with a different field value. I noticed in the Zendesk documentation that there are two ways to use this call. You can either update many tickets with one field change or update many--each with a different field change. I'm working on doing the latter. Does this API support this kind of call? If so, do you have an e

[2016-07-19 21:55] jbcoder commented on #161
I've looked into the code and it looks like the `updateMany` function for users may support both types of syntax though the function for tickets doesn't support it. Would this be something that would be easy to implement?

[2016-07-19 22:41] jbcoder commented on #62
This is a great addition! I'm running into the same issue as well. I'm hitting 429s with every call since I'm trying to pull all of our tickets. I know this feature was implemented last spring. Is there any documentation for this yet?

[2016-07-20 16:42] iconecd commented on #62
Sorry, I really should have added documentation with this feature. I'll try to submit a new PR. In the meantime, you can pass an object named 'throttle' to createClient, like so:

[code]

[2016-07-20 17:40] jbcoder commented on #62
That's great! Thanks!

[2016-08-02 19:08] NarrativeProgramming opened #162 "attachments.upload gives 'write after end' error sporadically when promisified using Bluebird"
When using Promise.promisify on `attachments.uploads`, `write after end` is thrown unpredictably.

[2016-08-15 16:35] adamleithp opened #164 "WARNING in ./~/node-zendesk/lib/client.js"
I'm trying to use the API in my webpack project and when I use your example:

var fs = require('fs');
var zendesk = require('node-zendesk');

var client = zendesk.createClient({
  username:  'xxx',
  token:     'xxx',
  remoteUri: 'xxx'
});

I get console warnings

WARNING in ./~/node-zendesk/lib/client.js
Critical dependencies:
85:17-54 the request of a dependency is an expression
 @ ./~/node-zen

[2016-09-07 15:28] tararam123 opened #166 "404 item not found"
I was trying to list all the tickets from zendesk.

var client = zd.createClient({
  username:  "aa@abc.com",
  token:     "433rewr",
  remoteUri: "https://abc.com"
});

It throws message saying 404 item not found. I confirmed that everything I supplied is correct.

[2016-09-13 00:07] msv opened #167 "Issue with nested calls"
Hi,

I'm having an issue with nesting calls, specifically, uploading an attachment and on success, creating a new ticket which includes the upload's token. Something like:

[code]

Upon server start, both calls work. However, for every other subsequent call, the upload returns a 201, but a blank image (width/height: null). The ticket creation returns a 201, but the attached image is blank.

After

[2016-09-22 11:17] cahva commented on #162
I can confirm this but I think this error must be deeper inside zendesk api as this error have risen only recently and we have been using version 1.1.8 of node-zendesk for a long time.

[2016-09-26 19:41] trystanj commented on #144
Closing issue as this was fixed a long time ago and republished. Thank you!

[2016-09-26 19:41] #144 closed

[2016-10-13 13:09] oversize commented on #153
Yes would be! +1 from me

[2016-10-14 11:51] damarnez opened #169 "Error: Zendesk Error (401): Not Authorized"
When I use in my project NODE_ENV=production and I send something to ZD show this message.
Error: Zendesk Error (401): Not Authorized

Only happend's with "production".

[2016-10-18 03:51] erikzrekz commented on #169
Can you share some more details? Not sure how to help.

[2016-10-18 03:52] erikzrekz commented on #167
Great. Thanks for the report! Someone will take a look soon!

[2016-10-18 03:53] erikzrekz commented on #166
Not sure how to help here. I'd check your credentials again!

[2016-10-18 03:56] erikzrekz commented on #164
I don't think it's an issue with this repo. Seems related to this: https://github.com/webpack/webpack/issues/196.

[2016-10-18 03:56] #164 closed

[2016-10-18 03:56] erikzrekz commented on #162
Thanks for report. Someone will take a look!

[2016-10-18 03:56] #166 closed

[2016-10-18 03:57] #169 closed

[2016-10-18 04:02] erikzrekz commented on #161
@jbcoder You'll have to write that programmatically. What you want is something like a

[code]

[2016-10-18 04:02] #161 closed

[2016-10-19 22:02] jbcoder commented on #161
@erikzrekz Thanks! I should have updated this. I found a workaround by changing the `updateMany` function to this:

    Tickets.prototype.updateMany = function (ticket_ids, ticket, cb) {
      var args = Array.prototype.slice.call(arguments);
      if (args.length == 2) {
        cb = ticket;
        ticket = ticket_ids;
        this.request('PUT', ['tickets', 'update_many'], ticket, cb);
      }

[2016-11-13 21:09] markotom commented on #81
Any progress?

[2016-11-14 23:15] willsnake opened #172 "Unitary tests"
Is it any actual unitary test?
Or is planned to do the unitary test?
Because I couldn't find any on the test files.
[pass-test.js](https://github.com/blakmatrix/node-zendesk/blob/master/test/pass-test.js)

[2016-11-14 23:24] willsnake commented on #172
stop hardcoding baka

[2016-11-23 00:55] cdloh opened #173 "Feature - Create Many Tickets"
There doesn't appear to be a way to create many tickets using this module.

The API exists - https://developer.zendesk.com/rest_api/docs/core/tickets#create-many-tickets

Any chance we can get it added?

[2016-11-27 23:35] erikzrekz commented on #172
Hey @willsnake, yeah, there aren't any tests yet. If you'd like to contribute to the project, please feel free to submit a PR!

[2016-11-27 23:37] erikzrekz commented on #173
Thanks!

[2016-12-06 22:12] pmig commented on #162
@erikzrekz any news on this topic?

[2017-01-12 05:58] casalot opened #176 "Sorting for search"
Is it possible to specify `sort_by` and `sort_order` when using the `search` function?

[2017-01-16 16:29] xcarpentier commented on #167
Any update ?

[2017-01-19 19:49] MMrR0b0TT opened #177 "" Error: Zendesk Error (401): Not Authorized""
Why did I get this error? I've created the oauth and I'm using the user-list sample.

[2017-03-15 05:22] juicetin opened #182 ""Unexpected token Y" instead of proper rate limit error"
Hi,

I encountered a problem today where the library would randomly fail, and only realised after a while it was due to rate limiting (a 'You exceeded your rate limit' message of some sort).

Here is the error:
[code]

I think instead of a generic (and quite possibly misleading to many) error that is passed back up uncaught, the specific case of rate limits should be handled properly.

[2017-03-20 19:54] sivaram636 commented on #177
am also facing the same issue .. did anybody have a workaround?

[2017-04-05 13:14] rublev opened #184 ""Critical dependency: the request of a dependency is an expression""
Short of removing this library I'm unsure of how to resolve these warnings:

I took a look at line 85 in node-zendesk/lib/client.js and it looks like a dynamic require is causing the problem?

[code]

[code]

[2017-05-11 09:25] ycpatel813 commented on #157
Hi
Can I know that is zendesk has updated their API? because lots of api are miss match with this module?
I will surely help to support for set a user password.

Thank you.

[2017-06-11 23:36] hf2186 commented on #177
Did you change the url to https://<YOURORG>.zendesk.com/api/v2 and set oauth:false

[2017-06-11 23:37] hf2186 commented on #151
Did you change the URL to https://[YOURORG].zendesk.com/api/v2 ?

[2017-06-20 11:17] robertdavid010 opened #188 "Support URL source for file upload"
Would it be possible to optionally use `request` in place of `fs` to get data stream for file upload?

[client.js](https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/client.js) line:193

[2017-07-20 11:20] snirlugassy opened #189 "[QUESTION] Updating tags list"
What is the ideal method to updated existing tags list?
Should I use the 'show' method to get tags array and then 'update'? or there is a better method?
Thanks! great repo

[2017-07-20 13:11] #189 closed

[2017-10-18 20:56] dasDaniel opened #192 "tickets limited to 1000 with incremental"
v: node-zendesk/1.1.12 (node/6.11.0)

I'm not able to get more than 1000 tickets.

When I do a manual call, I see that the next_page is present, however the api ignores it for the ticket call only (users paginates properly)

I was eventually able to get it to work, here are some notes...

the next_page changes the datestamp
api/v2/incremental/tickets.json?start_time=1493596800 returns 1000
api/v2/

[2017-10-19 08:38] rlemaire commented on #162
I have the same problem.

[2017-10-19 09:15] rlemaire commented on #162
The commit of @mdemin914 solves the problem (if you have the file in memory)

[2017-10-23 18:21] GitTristan opened #194 "Any plans to support Ticket Imports?"
https://developer.zendesk.com/rest_api/docs/core/ticket_import

[2017-10-23 18:25] GitTristan commented on #194
Oh, sweet, looks like it is supported just undocumented.  https://github.com/blakmatrix/node-zendesk/blob/master/lib/client/ticketimport.js

[2017-10-25 18:44] #173 closed

[2017-10-25 19:55] blakmatrix commented on #194
Thanks for the PR!

[2017-10-25 19:55] #194 closed

[2017-10-25 19:59] #46 closed

[2017-10-25 20:01] #80 closed

[2017-10-25 20:09] #111 closed

[2017-10-25 20:11] #126 closed

[2017-10-25 20:14] #129 closed

[2017-10-25 20:15] #139 closed

[2017-10-25 20:16] #140 closed

[2017-10-25 20:16] #146 closed

[2017-10-25 20:17] #149 closed

[2017-10-25 20:17] #151 closed

[2017-10-25 20:18] #153 closed

[2017-10-25 20:19] #156 closed

[2017-10-25 20:21] #157 closed

[2017-10-25 20:28] #172 closed

[2017-10-25 20:28] #176 closed

[2017-10-25 20:29] #177 closed

[2017-10-25 20:30] blakmatrix commented on #182
ref https://github.com/blakmatrix/node-zendesk/issues/126

[2017-10-25 20:30] #182 closed

[2017-10-25 20:32] blakmatrix commented on #184
I think this may be an issue with your webpack require contexts, feel free to reopen if you think it's on our end.

[2017-10-25 20:32] #184 closed

[2017-10-25 20:34] blakmatrix commented on #188
https://github.com/blakmatrix/node-zendesk/pull/190

[2017-10-25 20:34] #188 closed

[2017-10-25 20:36] blakmatrix commented on #192
https://github.com/blakmatrix/node-zendesk/issues/93

[2017-11-23 09:15] eran10 opened #199 "snyk alert - Uninitialized Memory Exposure"
node-zendesk@1.2.0 › request@2.74.0 › tunnel-agent@0.4.3

tunnel-agent is HTTP proxy tunneling agent. Affected versions of the package are vulnerable to Uninitialized Memory Exposure.

A possible memory disclosure vulnerability exists when a value of type number is used to set the proxy.auth option of a request request and results in a possible uninitialized memory exposures in the request body.

[2017-11-23 20:21] blakmatrix commented on #199
👍

[2017-11-29 04:15] RakeshKulangara commented on #139
Show ticket has an endpoint that returns the assigned tickets.

https://developer.zendesk.com/rest_api/docs/core/tickets#show-ticket

```GET /api/v2/users/{user_id}/tickets/assigned.json```

[2017-11-30 22:06] ckknight opened #202 "Promise Support"
Promises are the standard modern way to deal with asynchrony in JavaScript. It would be useful to have first-class Promise support in `node-zendesk`.

This is a dupe of #156, which was closed without explanation.

[2017-12-05 19:16] Thinkdiff commented on #167
could you please let me know what we have to put instead of this "(file, { filepath: 'dog.jpg' }"  ?
What is in "file" object?
Should I put an address that Uploaded on my server in "filepath" or not? Should I use multer?

[2017-12-20 14:18] eran10 commented on #199
is there any fix coming soon ?

[2017-12-21 16:18] EdByrnee opened #204 "Support latest API"
Zendesk's API has now been updated and allows for access management of articles through segements instead of through tags.

Update the package to support the latest version of Zendesk's API

[2017-12-29 09:14] Saravanan90 commented on #199
+1

[2018-01-19 12:58] Saravanan90 opened #205 "Vulnerable dependencies"
✗ Medium severity vulnerability found on tunnel-agent@0.4.3
- desc: Uninitialized Memory Exposure
- info: https://snyk.io/vuln/npm:tunnel-agent:20170305
- from: node-zendesk@1.2.0 > request@2.74.0 > tunnel-agent@0.4.3
Upgrade direct dependency request@2.74.0 to request@2.81.0 (triggers upgrades to tunnel-agent@0.6.0)

[2018-01-23 23:07] magic-madrigal commented on #184
I agree with @rublev, this is on the node-zendesk side.

Due to the dynamic require, Webpack is unable to bundle the 3 libs listed above.

Simply separating them our into there own require statements would resolve this issue, or using require.context.

Reference Links:
https://github.com/webpack/webpack/issues/2675
https://github.com/dcodeIO/protobuf.js/issues/339

[2018-01-25 02:51] erikzrekz commented on #199
Yes, sorry for the delay.

[2018-01-25 03:07] erikzrekz commented on #205
Thanks for the update here!

[2018-01-25 03:07] #205 closed

[2018-01-25 03:07] #199 closed

[2018-01-25 03:08] erikzrekz commented on #204
Can you specify which APIs you'd like to see supported? I haven't kept up with the news ones.

[2018-01-25 03:14] #93 closed

[2018-01-25 03:14] erikzrekz commented on #192
@dasDaniel should be able to use this pattern now - https://github.com/blakmatrix/node-zendesk/pull/200

[2018-01-25 03:14] #192 closed

[2018-01-25 22:47] DaveyEdwards opened #207 "Unable to search promoted articles with searchArticles"
I have been unable to only get back articles that are set to promoted: true using searchArticles, it just returns 0 results. I think its likely I have just been trying the wrong way, but I think the documentation on using searchArticles may need a example for others that may run into this.

One variation of what I have been trying to do is below (been trying everything I can think of)
_Note: I cou

[2018-01-26 00:45] hdemirev commented on #207
The Zendesk help center search API doesn't support 'promoted' as a search parameter; you can see all of the supported parameters [here](https://developer.zendesk.com/rest_api/docs/help_center/search.html).

You could use `articles.list` to get all the articles, and then just filter by the promoted status returned in the results.

[2018-01-26 02:16] DaveyEdwards commented on #207
Ahh ok, thanks for the heads up.  Yeah I was thinking to just do the filtering on the server, my only concern was when there are lots of articles it may be hard to get a list of promoted ones to display.  Another solution that just came to mind while typing this would be to create a section called promoted and place all the articles we want promoted in there.

[2018-01-26 02:16] #207 closed

[2018-01-30 07:22] mrcoles opened #210 "documentation for the callback parameters?"
Is there more info on what the callback parameters are for the API methods?

The only relevant thing I see in the readme is:

[code]

Looking into the code, e.g., [client.js requestCallback](https://github.com/blakmatrix/node-zendesk/blob/179dcd735624b5a899b4f8ec17c92a5c80275879/lib/client/client.js#L261), and via running the code, I see that the values are:

*   err - error object from the reques

[2018-01-31 18:04] EdByrnee commented on #204
The help center API to be fully supported specially user segments as this is critical as to how articles are now managed.

[2018-03-14 21:31] pnewell opened #212 "Subdomain"
I can't seem to get the subdomain option to work (note: I tried both with and without  `disableGlobalState: true`)

[code]

Error:
`Error: Invalid URI "undefined/articles.json"`

[2018-03-14 22:09] hdemirev commented on #212
What's an example of the subdomain value you're entering?

[2018-03-14 22:20] pnewell commented on #212
[code]
A single string, all lowercase, no special characters, numbers or spaces, just letters

[2018-03-14 22:33] hdemirev commented on #212
Try using this configuration:
[code]

[2018-03-14 23:02] pnewell commented on #212
That works, I was more just wondering why the subdomain route wasn't working. I looked at the client.js file, and the code is there to create the URI from the subdomain, but it doesn't seem to be working for some reason...

[2018-03-14 23:21] hdemirev commented on #212
Looking more closely, it doesn't seem like nconf is configured correctly in client.js, in line 58 nconf.get returns undefined. I'm not super familiar with how nconf works, but if you override it in client.js like `nconf.overrides(options)` at line 55 the subdomain option works.

[2018-03-15 00:45] pnewell commented on #212
Thanks for that, it worked!

Can we open a bug somehow to get it added to the master?

[2018-03-15 02:05] pnewell opened #213 "Article Category Sideloading not Working"
[code]
This is only returning the user and section but not the category, do I need to do something special for category?

[2018-03-15 02:44] pnewell commented on #213
curl works for this:

[code]
This returns the following:

[code]
I am wondering if it is because the articles API call does not have a category_id field. I am not sure how to fix that though? The sections param has the category_id, but not sure how to access that. Regardless, this side load works in curl.

[2018-03-15 05:01] pnewell commented on #213
Got it working. Because the category_id is not passed in the article object, I had to write some new logic in client.js that finds the category_id using the section_id and then uses that to pull the category data. The only issue is this means you must call both sections and categories, if you call categories alone there is no way to connect the article to the category.

[2018-04-04 20:57] cmunson opened #214 "Searching Articles - params not getting included in URL"
Searching help center articles always returns `400 Bad Request`. The URL looks like it's not getting the params appended. It's always <zendeskURL>/api/v2/help_center/articles/search.json with no params.

In lib/client/helpcenter/search.js line 23, searchContent seems it should be part of the 2nd arg array:
`this.request('GET', ['articles', 'search'], searchContent, cb);`

should be:

`this.request

[2018-04-07 22:13] erikzrekz commented on #210
Good suggestions. I'm in favor of better documentation (so your first idea) to start.

[2018-04-19 21:02] mirandashort opened #216 "this.request is not a function"
`"node-zendesk": "^1.2.1"`
`"request": "^2.85.0"`

This is my function:

[code]

when I run my function on the command line, this is the output:

[code]

I'm not sure why I'm getting this response now, as I have previously been able to call the API successfully. I updated my package and afterwards even installed the `request` package individually just in case. For additional reference, this is lin

[2018-04-25 22:38] brandon-teckst opened #217 "Support for Single Sign-on"
According to Zendesk, you should be able to access the API for single sign on organization using the same username / token combination, however the node-zendesk client doesn't seem to be able to authenticate. Is this case supported by node-zendesk? Does anyone know how to access the API on behalf of single single sign-on organizations?

[2018-05-16 23:04] silentrob opened #218 "attachments.delete isn't an API method"
[code]
This call is returning a 404

[2018-05-21 10:14] nikita-sheremet-java-developer opened #219 "Does node-zendesk support change password?"
[Here](https://developer.zendesk.com/rest_api/docs/core/users#change-your-password) is description about password change API. Does you client support this? Is it seprate operation from users.update? Could you please provide en example about how to do that?

[2018-06-19 12:41] geshan opened #221 "ECONNRESET error on lib but curl works"
We are using `node-zendesk` version `1.1.8`  also tried the latest version but got the same error.

### Request:

[code]

## Response

[code]

but curl with

[code]

It works and gives back json result.

[2018-06-19 16:20] boatmeme commented on #221
@geshan any idea when this change will be published as a new version in npm?

[2018-06-19 16:23] geshan commented on #221
Depends on @blakmatrix.

[2018-06-19 17:55] alexloi commented on #221
Just keeping a note here, this seems to be related to the TLS 1.2 move Zendesk performed earlier today (just in case anyone drops onto this)

[2018-06-19 18:04] ssonlucera commented on #221
I get this error.
[code]

[2018-06-19 20:13] #214 closed

[2018-06-19 20:23] blakmatrix commented on #221
Try v1.3.0

[2018-06-20 03:28] zfeng8 commented on #221
@ssonlucera I got the same issue

[2018-06-20 03:33] zfeng8 commented on #221
@blakmatrix I tried, but it did not work

[2018-06-20 03:35] geshan commented on #221
@zfeng8 try using version 1.3.0.

[2018-06-20 03:37] zfeng8 commented on #221
@geshan thanks for your response. It did not work for me with 1.3.0

[2018-06-20 11:59] JamyDev commented on #221
1.3.0 is working fine here after seeing the same issue. Thanks @blakmatrix .

One question though, why was TLS 1.2 explicitly disabled in the first place?

[2018-06-20 12:02] JamyDev commented on #221
Ah I see the comment in [this commit](https://github.com/blakmatrix/node-zendesk/commit/64c3139e103d93a6d4b0d69d5d223c8cac5aa0a7) refer to [this NodeJS issue](https://github.com/nodejs/node-v0.x-archive/issues/5360) back in 2013. While I can't seem to find an exact reason, I assume back then node started to support TLS 1.2 but Zendesk did not yet, forcing you to disable it?

[2018-06-20 12:11] JediYozh commented on #221
I got the same error in 1.2.1. Worked for me in 1.3.0

[2018-06-20 14:08] oakcreations commented on #221
Worked for me in 1.3.0

[2018-06-20 14:10] zfeng8 commented on #221
Thanks for all you guys help. Now 1.3.0 works for me. I think that was because I forgot to remove the node_modules folder, and the program still uses the same package even if I changed to 1.3.0. After removing the node_modules and changed to 1.3.0, everything works. Thanks again for saving my day

[2018-06-20 19:06] blakmatrix commented on #221
Just wanted to reference pull #223 before I close...

[2018-06-20 19:06] #221 closed

[2018-06-21 20:02] jonhill04 opened #226 "Cannot read property 'SSL_OP_NO_TLSv1' of undefined"
I just upgraded to v1.3.0, but now instead of the ECONNRESET error I'm getting a 'Cannot read property 'SSL_OP_NO_TLSv1' of undefined' error.  Is anyone else running into this? Any config steps that I missed with the upgrade?

Any help would be greatly appreciated, as we are currently line down!

[2018-06-22 12:13] jreida commented on #226
@jonhill04 this is a node version issue. See https://github.com/blakmatrix/node-zendesk/pull/223#issuecomment-398965029. I went to v8.11, but anything after and including v6.14.3 should work.

[2018-06-22 17:48] jonhill04 commented on #226
thanks @jreida - I noticed that shortly after my post....still an issue as we are back on Node v4.X, and I don't think it's going to be trivial to jump.  I was hoping there would be a backwards compatible option!

[2018-06-22 18:00] hdemirev commented on #226
@jonhill04 I had originally implemented a [different fix here](https://github.com/hdemirev/node-zendesk/commit/83705bc8a71c12ab9779864dbff931751f4975f9), which is Node 4 compatible, and you could pull [from here](https://github.com/hdemirev/node-zendesk) or implement yourself.

[2018-06-24 17:47] jonhill04 commented on #226
thanks @hdemirev - I'll give that a shot!

[2018-06-25 10:35] jonhill04 commented on #226
@hdemirev - that's working great, thanks!  Now I can take my time to upgrade Node...

[2018-06-25 10:35] #226 closed

[2018-06-26 06:02] phanssens1 opened #227 "{ [Error: read ECONNRESET] code: 'ECONNRESET', errno: 'ECONNRESET', syscall: 'read' }"
Trying to use multiple versions of the version prior to the latest - this attempt on 1.1.13 renders the following result:
[code]

I'm making the following call:

[code]

Any help would be much appreciated

[2018-06-26 06:08] phanssens1 opened #228 "secureOptions: constants.SSL_OP_NO_TLSv1 | constants.SSL_OP_NO_TLSv1_1,"
I'm getting the following issue on version 1.3.0:
[code]

I'm using the following call:
[code]

[2018-06-26 06:42] prokyon commented on #227
The same problem here on 1.2.1 with this request:

[code]

[code]

[2018-06-26 08:58] grydstedt commented on #228
Also seeing this

[2018-06-26 10:32] thucnc commented on #227
I got the same problem. This issue is critical for us since we are using webhook triggers to automate some processes. Please help.

[2018-06-26 14:04] jcrobak commented on #216
I ran into this problem yesterday, and my solution is to bind the appropriate `this` when passing around a function, e.g.:

[code]

That makes `this` for `updateMany` to be the singleton class `credentials.config.tickets`.

[2018-06-27 11:05] prokyon commented on #227
With version 1.3.0 the connection is working.

[2018-06-27 11:58] phanssens1 commented on #227
I’ve reported an issue with 1.3.0 as well: https://github.com/blakmatrix/node-zendesk/issues/228

[2018-07-02 00:48] erikzrekz commented on #228
@phanssens1 @grydstedt what version of node are you seeing this in?

[2018-07-02 01:18] erikzrekz commented on #218
Yeah, I can't find it in the dev docs. Not sure how it got in there. Have you tried `attachments.deleteUpload`?

[2018-07-02 09:43] jonnyarnold commented on #227
My guess is that this is also related to Zendesk [removing support of old versions of TLS](https://support.zendesk.com/hc/en-us/articles/360000710347).

[2018-07-02 22:17] CowanSM opened #231 "No backwards support for Node 4.x"
With the changes of 1.3.0+ support for Node 4.x is gone. Looks like a least a few references in the code are dependent on Node 6+

[2018-07-03 17:32] aaronmarkle commented on #228
I am also getting unauthorized errors now that Zendesk has required TLS 1.2

Does anyone know of a quick fix to force the requests to use TLS 1.2?

[2018-07-04 19:43] augustogoncalves opened #232 "zendeskclient.users.list pagination break on 429"
calls to `zendeskclient.users.list` may fail due rate-limit (429), which is expected, but as this function handles pagination internally (i.e. call to `.list` internally makes several REST calls) it will not succeed if an app just call it again (after x seconds), so this function should wait the `retryAfter` seconds and try again (for the respecitve page that failed)

pagination is handled at [thi

[2018-07-05 12:56] phanssens1 commented on #228
I was using 6.10.3 and now i'm using 8.10.0 and it's working fine

[2018-07-05 12:57] phanssens1 commented on #227
using node version 8.10.0 this works - wasn't working on node 6.10.3

[2018-07-16 20:54] josephmcasey commented on #216
Does the author of this library believe this is something worth fixing?

[2018-08-01 00:01] liqiongbusc opened #234 "How to do auth with api token?"
I read on the Readme, but didn't find the way of auth with api token, does the lib support that?

Thanks

[2018-08-01 12:47] jleeothon opened #235 "Allow for additional query parameters e.g. sort_by"
If I'm not mistaken, there is no way to add other query arguments except with e.g.

[code]
Note that in this case, it is superfluous to use the `search` member, and it could by anything e.g. `.tickets.requestAll()` or `.users.requestAll()`.

I can think of two solutions that can mitigate this problem:

(a) A more generic interface for custom requests without going to one of `myClient`'s members. I

[2018-08-07 20:50] GitTristan commented on #162
same issue

[2018-08-09 13:56] zfeng8 opened #236 "Zendesk Error (403): Forbidden"
Do you guys have the same issue today?

[2018-08-10 21:36] nnabuuu commented on #236
If it is only for today I guess the issue comes from Zendesk itself. Are you able to perform certain action using the website?

[2018-08-11 02:33] zfeng8 commented on #236
@nnabuuu thanks for the response. Like what you said, the issue should come from Zendesk. I don't have any issue now

[2018-08-11 02:33] #236 closed

[2018-08-13 21:40] fmsouza commented on #202
In my company we have been using this lib intensively, and the lack of Promise support was causing a lot of trouble for us. So I just pushed a PR with support for Promises in https://github.com/blakmatrix/node-zendesk/pull/237.

[2018-08-14 16:21] romulets opened #238 "Associate Jira Issue with Zendesk Ticket"
Hi,

I'm trying to associate a Jira Issue with a Zendesk Ticket.

The API is documented [https://developer.zendesk.com/rest_api/docs/services/jira](here)

Is there any way of doing this association through this library?

[2018-09-28 14:53] Nargonath commented on #234
@liqiongbusc isn't it what you are looking for: https://github.com/blakmatrix/node-zendesk#using-oauth-for-authentication ?

[2018-10-03 12:20] lando2319 opened #239 "Error: write EPROTO when writing a ticket V1.3.0"
When creating a ticket I'm getting the following error
[code]

I have the latest node-zendesk package
[code]

I'm using the example code right out of the box.

[code]

I suspect it's related to this TLS upgrade. I tried to add the `tls` package on it's own, but it delivered the same error. I also tried node-zendesk V1.2.1 and surprisingly that also returned the same error.

I'm not sure what to do

[2018-10-03 12:35] lando2319 commented on #239
I just tried
[code]
same error.

[2018-10-05 03:56] lando2319 commented on #239
I've been able to get this working. I suspect the way I had it setup was causing some kind of pathway issue, I cannot say for sure unfortunately.

[2018-10-05 03:56] #239 closed

[2018-11-29 20:44] nsakapeter opened #242 "401: Not Authorized when trying to create new user"
Have an app running on meteor JS Version 1.6. Calling any zendesk API endpoint using this library gives the following. What is a possible way out?

I am calling the endpoint as follows

[code]

*********Error Printed Out*************
{ Error: Zendesk Error (401): Not Authorized
I20181129-13:35:18.769(-7)?     at checkRequestResponse (/Users/nsakapeter/Documents/GitHub/squire-web-app/node_modules/n

[2019-01-02 18:46] ghost opened #246 "Out of order comments on Zendesk"
## Rube Goldberg machine ##

`node-zendesk` fails to post comments to Zendesk in the correct order per their documentation.  Comments can appear out of order when creating a ticket via the `client.tickets.create` API call and then updating the created ticket with a new comment via the `client.tickets.update` API call.

Per the official [Zendesk documentation](https://developer.zendesk.com/rest_api

[2019-01-26 23:37] handre opened #248 "Include Automations methods"
Hello, firstly, thanks for this API, it saves a lot of time.

I'm missing the Automations methods. They seem the same thing as Triggers methods, can you include it on the API?

Thanks!

[2019-02-17 22:38] sebastiansandqvist opened #251 "Typescript Support"
Wondering if type definitions could be added so that Typescript users can easily use the ZenDesk API

[2019-07-10 06:41] Bhogayata-Keval opened #253 "Problem while accessing article list from helpcenter"
When I execute

[code]

I get

Error: Zendesk Error (404): Item not found
at checkRequestResponse (/<project_path>/node_modules/node-zendesk/lib/client/client.js:259:13)
    at requestCallback (/<project_path>/node_modules/node-zendesk/lib/client/client.js:274:3)
    at Request._callback (/<project_path>/node_modules/node-zendesk/lib/client/client.js:111:5)
    at Request.self.callback (/<project_

[2019-07-11 17:55] magic-madrigal commented on #253
You are going to want to reset you token now that you just shared it publically.

[2019-07-17 11:58] Olimpiamagliulo commented on #253
I have the same issue here.

[2019-08-28 23:09] galeng opened #255 "Tickets.addTags Submits An Empty Body If Called With Published Interface"
An issue was encountered when trying to add tags to an existing ticket.  When observing the request with the debug option set on for ClientOptions - You can see that the call submits without error, but the payload to the API is empty.  It appears to me that in client.js on line 62, the check to see that the arg isn't an Array is the reason the body is empty (since the tags arg is an array).

examp

[2019-08-30 17:07] ajmueller commented on #202
For those who happen upon this issue (and in case #237 is yet to be merged when you find this), you can add Promise support to individual functions using [custom promisified functions in Node](https://nodejs.org/api/util.html#util_custom_promisified_functions).

[code]

How you decide to resolve your Promise is up to you.  I decided to resolve to an array with both variables returned by the client

[2019-09-03 05:21] arsendev opened #256 "I need to bring the data to [section] at [article.json]."
I want json url in this way.
https://test.zendesk.com/api/v2/help_center/en-us/sections/115004110327/articles.json

I'd like to get that address and get it and use the data. What method should I use?
If you need to use CreateWithLocale, what is the [article] that goes into the [argument] value?

[code]

[2019-09-03 11:50] claydegruchy commented on #202
Here is a very simple generic promisifyer:
[code]

[2019-10-29 17:22] jondcoleman opened #257 "Improve Documentation for tickets.listWithFilter"
I'd like to use this but I don't know what the parameters mean.

[2019-11-15 01:10] arsendev opened #259 "Can you export all the article materials in the guide?"
Is there a way to export all the article materials in the existing guide?

[2019-11-23 19:25] shaun3141 commented on #235
I'd love to see something like this too, but I found it's possible still to sort with the query method by passing in search parameters like this:
https://support.zendesk.com/hc/en-us/articles/203663226-Zendesk-Support-search-reference#topic_lhr_wsc_3v

Which oddly is a bit different than the API, but both seem to work, and these linked work with the default query method so it's a win for me. :)

[2020-01-12 19:57] ddesna opened #261 "ERR_STREAM_WRITE_AFTER_END while uploading attachment"
`ERR_STREAM_WRITE_AFTER_END` error is thrown while uploading attachment.

#### Steps to reproduce

* Create new ticket via `client.tickets.create`
* Upload attachment via `client.attachments.upload`

After that `ERR_STREAM_WRITE_AFTER_END` error will be thrown because `self.options.body` in `lib/client/client.js` `requestUpload` method contains previous JSON used to create the ticket.

[2020-01-12 19:58] ddesna commented on #261
Following PR fixes that issue. But I'm not sure if it is completelly correct solution
https://github.com/blakmatrix/node-zendesk/pull/260

[2020-01-12 19:59] ddesna commented on #162
It could be related with this one https://github.com/blakmatrix/node-zendesk/issues/261

[2020-02-19 04:12] chanphillip commented on #257
There is an issue with `tickets.listWithFilter` so I submitted a PR.

My use case is getting the ticket with `external_id`:
[code]

[2020-02-21 19:25] gurthyy opened #263 "Ticket Sideload not pulling any data"
I'm attempting to build a customized report using data from the Zendesk api.  With this, I'm providing a CSV with ticket numbers and hoping to return the requested information.  Part of this includes who submitted the ticket.  Ideally, Sideloading would work here to give me more information about the user (actual name vs ID#), but I can't seem to get the sideloading to give me any additional detai

[2020-04-04 09:26] Pwuts commented on #251
`@types/node-zendesk` does exist but it is not complete, e.g. the type of the second and third arguments of `ZendeskCallback` is specified as `unknown`, giving errors when trying to access its properties.

[2020-04-10 03:30] nicksav commented on #32
Hey guys. Not able to get search working with email or phone:
    client.users.search({phone: phone}, function (err, req, data: any) {
      callback(null, data);
    });

Any idea?

[2020-04-14 06:42] quantaz opened #264 "Assigning a user to multiple Zendesk Organisations throws 422 Error."
Following is my code snippet.

const membershipObj = {
                   organization_memberships: [
                                                                     { user_id: 12345, organization_id: 54321 },
                                                                     { user_id: 12345, organization_id: 65432 },
                                                                ]

[2020-04-20 23:04] ankitwandx opened #265 "create tickets api - custom_fields is ignored"
Here is the ticket object:

  "ticket":
    {
      "subject":"My printer is on fire!",
      "comment": {
        "body": "The smoke is very colorful."
      },
      "custom_fields": [{ "id": 34, "value": "I need help!" }]
    }
  };

and here is the ticket created:

  "url": "https://xyz.zendesk.com/api/v2/tickets/12.json",
  "id": 12,
  "external_id": null,
  "via": {
    "channel": "api",

[2020-04-21 03:10] TooManyJohns commented on #238
Hey there, I actually just finished implementing this into a custom version of this repo, if anyone still needs this added (since it seems no one is active on this repo anymore) I can happily provide a working implementation for them , just hit me up with a response here 👍 (If I have time, I can actually get a PR up for people to pull down 😄 ) but I guess it'll be if anyone needs it for now 🤷‍♂️

[2020-04-29 18:30] quantaz opened #266 "Bulk delete Organization Memberships."
Hi I am getting Error-400 Bad request while using following function

      return client.organizationmemberships.deleteMany(ids, (err, result) => {
        if (err) return cb(err);
        console.log(result);
        return cb(null);
      });
Here ids = [id1, id2, id3........so on] //organisation memberships Ids of users.

What I am doing wrong here. Can someone explain.

[2020-05-22 20:26] gurthyy commented on #263
No longer working with Zendesk, so closing this issue as it was likely my own misunderstanding.

[2020-05-29 12:15] thomasfaller commented on #265
I'm able to create a ticket with only 1 custom_field doing like:
[code]

but trying to set multiple custom_fields by passing an array of objects like you're doing doesn't seem to work indeed so any insight on how to do that would be greatly appreciated :)

[2020-06-05 06:07] #263 closed

[2020-06-15 06:22] #202 closed

[2020-06-16 04:15] #213 closed

[2020-06-16 04:15] #216 closed

[2020-06-16 04:15] #217 closed

[2020-06-16 04:15] #218 closed

[2020-06-16 04:15] #219 closed

[2020-06-16 04:15] #227 closed

[2020-06-16 04:15] #228 closed

[2020-06-16 04:15] #231 closed

[2020-06-16 04:15] #232 closed

[2020-06-16 04:15] #238 closed

[2020-06-16 04:15] #242 closed

[2020-06-16 04:15] #246 closed

[2020-06-16 04:15] #248 closed

[2020-06-16 04:15] #256 closed

[2020-06-16 04:15] #259 closed

[2020-06-16 04:16] #81 closed

[2020-06-16 04:16] #82 closed

[2020-06-16 04:16] #90 closed

[2020-06-16 04:16] #91 closed

[2020-06-16 04:16] #162 closed

[2020-06-16 04:16] #167 closed

[2020-06-16 04:16] #204 closed

[2020-06-16 04:16] #210 closed

[2020-06-16 04:16] #212 closed

[2020-06-16 04:16] #234 closed

[2020-06-16 04:16] #235 closed

[2020-06-16 04:16] #253 closed

[2020-06-16 04:16] #255 closed

[2020-06-16 04:16] #257 closed

[2020-06-16 04:16] #261 closed

[2020-06-16 04:16] #264 closed

[2020-06-16 04:16] #265 closed

[2020-06-16 04:16] #266 closed

[2020-06-17 13:06] Pwuts commented on #251
@blakmatrix any comment on why you've closed this issue?

[2020-06-17 14:34] freshlogic opened #275 "After upgrade to v2.0.0: zendeskClient.tickets.incrementalInclude results in TypeError: Cannot read property 'options' of undefined"
After upgrading to v2.0.0 the following code results in `TypeError: Cannot read property 'options' of undefined`

[code]

[2020-06-18 03:47] blakmatrix commented on #251
Cowboy Theatrics *shrug* what is "@types/node-zendesk" ? I'm doing my best to get back into trying to maintain this.

[2020-06-18 06:32] blakmatrix commented on #251
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f667351f064837dec421df5abadae50c5a0ba698/types/node-zendesk/node-zendesk-tests.ts
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f667351f064837dec421df5abadae50c5a0ba698/types/node-zendesk/index.d.ts
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f667351f064837dec421df5abadae50c5a0ba698/types/node-zendesk/tsconfig.json

[2020-06-18 17:14] belezi commented on #275
I am getting the same error as well when trying to get a list of all users.

`zendeskClient.users.list(function (err, req, result) {
        if (err) {
          console.log(err);
          return;
        }
        console.log(JSON.stringify(result.map(function (user) {return user.name;}), null, 2, true));//gets the first page
        console.log("Total Users: "+result.length);
    });`

StackTra

[2020-06-19 07:21] mpalavrov commented on #275
Hi guys,

I have the same error when try to call
`await client.users.search('?query=email:' + email);`

[code]

[2020-06-19 07:22] mpalavrov commented on #275
@blakmatrix, I hope you will be able to review this, as it is a major issue :(

[2020-06-24 10:15] andrewsteadcc commented on #275
Same errors for me. I have reverted back to 1.4 for now

[2020-06-28 02:58] blakmatrix commented on #251
#276

[2020-06-28 03:00] blakmatrix commented on #275
hmmm I'll take a look, figured the upgrade to promise support would have some issues, as does all progress, if anyone has better idea of the issues feel free to send a PR

[2020-07-24 17:25] jondcoleman opened #277 "Recent Version Tags are missing"
1.5.0 and 2.0.0 are not available as tags.

[2020-07-30 12:57] gordolio commented on #275
I'd really like to see this fix merged and published.

[2020-08-09 03:26] blakmatrix commented on #277
1.5.0 and 2.0.1 are tags

[2020-08-09 03:26] #277 closed

[2020-08-09 03:27] blakmatrix commented on #275
Does this fixed the issues?

[2020-08-27 23:52] DaveyEdwards commented on #275
Upgrading to 2.0.1 fixed it for me 👍

[2020-08-29 11:34] kevinNgws opened #279 "Error when uploading attachment"
Hi all,
I'm testing to upload an image from AWS S3 bucket to ZenDesk as shown below:
`INFO	{
  AcceptRanges: 'bytes',
  LastModified: 2020-08-29T09:52:09.000Z,
  ContentLength: 145978,
  ETag: '"blahblah"',
  ContentType: 'image/jpeg',
  Metadata: {},
  Body: <Buffer ff d8 ff e0 00 10 4a 46 49 46 00 01 01 00 00 01 00 01 00 00 ff db 00 84 00 06 06 06 06 07 06 07 08 08 07 0a 0b 0a 0b 0a 0f 0e 0c 0c

[2020-08-29 22:20] mpalavrov commented on #275
@DaveyEdwards, It actually fixed it for me as well. Thank you @blakmatrix

[2020-08-30 06:15] kevinNgws commented on #279
I modified my code to ` userClient.attachments.upload(stream, {binary:true, filename: 'test.jpeg'})`.
stream can be created as shown below:
`var stream = new Readable();
  stream.push(imgBuffer);
  stream.push(null);`

However, the response i got back was HTTP Status Code 201, with no data content.

[2020-08-31 05:06] blakmatrix commented on #275
Thanks, I will close this.

May you all be Happy!
May you all be Healthy!
May you all be Safe!
May you all be at Peace!
May you all be Loved!

[2020-08-31 05:06] #275 closed

[2020-09-25 13:52] freshlogic opened #280 "After upgrade to v2.0.1: zendeskClient.tickets.incrementalInclude never calls back"
Issue #275 was never fully resolved for me. The changes @jondcoleman made in PR #278 helped eliminate `TypeError: Cannot read property 'options' of undefined` but now a call to `zendeskClient.tickets.incrementalInclude` simply hangs and the callback is never called.

Example:
[code]

Expected behavior:
The callback is called with an error or resultList

Actual behavior:
Callback is never called

[2020-09-26 13:29] jondcoleman commented on #280
This code works for me on 2.0.1 so I'm not sure what you have going on. See [this screen recording](https://www.screencast.com/t/ODA0jwUBeGHE).

[2020-09-26 22:08] BryceLarkin opened #281 "Executing createClient throws a non-existent property warning"
## Expected Behavior
Executing `createClient` should not throw warning

## Current Behavior
Calling `createClient` throws a warning. Code still executes correctly.

[code]

## Steps to Reproduce
1. Pull this [repo](https://github.com/BryceLarkin/node-zendesk-issue-001)
2. Create `.env` based on `.env.example`
3. Run `npm start`

## Context (Environment)
node-zendesk@2.0.3
@types/node-zendesk@2.0.1

[2020-11-23 13:38] arnaudjnn opened #282 "Error: Cannot find module"
The library works perfectlyy well on my local but once in production I have the following error:
[code]

I hard coded env variables to be sure it's not this.

[2020-11-26 11:09] PavelLoparev commented on #281
I faced the same issue. Reproducible on node v14.15.0 (I suppose starting from v14). No warning on v12.

[2020-12-03 22:07] linuxdaemon commented on #281
The mention of a circular dependency seems to point to https://github.com/blakmatrix/node-zendesk/blob/9358be8acac16edaa55641331dd399865f5996c7/lib/client/client.js#L10 where the lib/client/client.js file includes itself.

[2020-12-06 08:39] tomgrossman commented on #281
facing the same issue since upgrading to Node v14

[2020-12-16 20:52] chkrause opened #285 "User Search is adding .json at end of uri"
debug: true logs following:

  uri: 'https://.zendesk.com/api/v2/users/search/query=type:user email:"test@test.de".**json**',
  method: 'GET',

  var user_exists = await client.users.search(`type:user email:"test@test.de"`)
    .then(function (result) {
      return {
        statusCode: 200,
        body: result
      }
    })
    .catch(function (error) {
      return {
        statusCode: 500,

[2020-12-16 22:13] #285 closed

[2020-12-16 22:14] chkrause commented on #285
Could fix it:
var user_exists = await client.users.search('?query=type:user email:"test@test.de"')

[2020-12-21 22:21] mattcobb opened #287 "Allow setting subdomain thru createClient options"
I'm trying to use articles.list() in v2.0.3.  I modified the users.list() example and added the helpcenter option:

  const client = zendesk.createClient({
    'username': 'hidden+zendesk@pryoninc.com',
    'token': 'a***q',
    'remoteUri': 'https://pryon.zendesk.com/api/v2',
    'helpcenter': true,
  });

then call it:

client.articles.list()
      .then(function(articles) {
        stdCfg.Logr.

[2020-12-22 23:28] mattcobb commented on #287
Found the solution, when using helpcenter calls like articles, you add the configuration option:
    'helpcenter': true,
But even though the library knows you are using helpcenter, you have to add "help_center" onto the end of the uri path yourself when creating the client:

    'remoteUri': 'https://pryon.zendesk.com/api/v2/**help_center**',

[2020-12-23 01:55] mattcobb commented on #287
If you set subdomain thru an env, it will add help_center to the path for you, but you cannot add the subdomain option via client create options.

[2021-01-20 00:31] freshlogic commented on #280
Here's a screen recording showing the differences between 1.4.0 and 2.0.3

https://user-images.githubusercontent.com/107733/105110285-e8548180-5a83-11eb-802f-f4ed60e9b594.mp4

I think the difference is that I'm expecting a single page of results to be returned along with an `end_time` that we store and use on subsequent calls to get the next page of results. At least, that's how I understand the A

[2021-01-20 13:24] jondcoleman commented on #280
Yeah, the incremental include function does try to do that, via the [requestAll](https://github.com/blakmatrix/node-zendesk/blob/9358be8acac16edaa55641331dd399865f5996c7/lib/client/client.js#L134) method from what I can see.

[2021-02-02 15:36] eran10 opened #290 "snyk security issue"
![image](https://user-images.githubusercontent.com/5971236/106623174-012d5e80-657d-11eb-8d93-98b99a8fb9b3.png)

can you update nconf to latest version?

[2021-02-05 22:57] KevinBuchs commented on #281
On node v15.7.0, same problem.
[code]

[2021-02-22 10:06] yoavapi commented on #281
+1

[2021-02-24 02:05] blakmatrix commented on #290
fixed in #283

[2021-02-24 02:05] #290 closed

[2021-02-24 02:06] #287 closed

[2021-02-24 02:13] #279 closed

[2021-02-27 13:51] scybulski commented on #281
Confirmed on Node 14, 15. Does not happen on Node 10.

[2021-03-16 18:50] mattcasey commented on #251
Hi, I am just replying here since you've left the issue open. Is there any particular way you'd like help? I'd like to share any types that I need to add as I'm working with the module. In particular I'll be working with macros and help center api, and the methods are implemented but missing from @types/node-zendesk. I already started a fork: https://github.com/mattcasey/DefinitelyTyped/tree/node-

[2021-04-09 20:26] cfrome77 opened #302 "TicketForms.prototype.show is assigned twice"
The TicketForms show function is assigned to twice for both showing and updating. when calling client.ticketforms.show the `PUT` function version will get called instead of the `GET` function version. This causes an error because the `ticketForm` variable is not defined, and it is calling the wrong function. The function is linked below.

https://github.com/blakmatrix/node-zendesk/blob/b69e7837565

[2021-04-17 21:42] mthomas-github opened #303 "Example HelpCenter"
could you make an example for HelpCenter? Or when you say ad -hc or -helpcenter parameter Do I add this when I create client?

[2021-05-05 01:37] blakmatrix commented on #302
fixed in #306 306

[2021-05-05 01:37] #302 closed

[2021-05-05 01:39] #281 closed

[2021-05-10 21:07] bbangert opened #308 "Allow custom payload to useridentities update"
Currently the useridentities update looks like this:
[code]

Unfortunately this means if you wanted to update the identity with a new email and mark it as verified, you cannot. I made a rather ugly hack to call in with a custom value like so:
[code]

Ideally this shouldn't be needed, and there'd be an API that allow a custom payload value to be passed in.

[2021-06-22 15:28] Rolos opened #315 "Random socket hang up errors"
Hello, i'm using version `1.3.0` and node `12.16.1` but i am getting random socket hang up errors trying to perform several different api requests.

This is how i am initializing the library:

[code]

And this is an example of a request that is randomly returning `socket hang up`

[code]

Could you please advise on what are my options here to prevent this from happening?

[2021-08-13 09:16] 3amrap459 opened #318 "events & profiles - sunshine platform"
Hi there ! We would like to use Zendesk events through product sunshine platform.

Are there predefined functions to add events and profiles in zendesk support?

[2021-12-09 13:37] DavidGOrtega opened #322 "Client `throttle` seems not to be working"
I need to do a huge list operation (300k) I have setup throttle as suggested in #62 however I still have the Zendesk error

[code]

[code]

[2021-12-09 14:29] DavidGOrtega commented on #322
Ok seems to be working, what it does not do is retry the failed operation.
How this could be achieved?

[2021-12-22 08:53] ashishnetworks opened #323 "Getting UNABLE_TO_GET_ISSUER_CERT_LOCALLY error"
My code looks like this
[code]
Whenever I try to use this module it always gives me the following error,
![image](https://user-images.githubusercontent.com/10133596/147063336-558dc071-dbfb-4e82-8c4f-b4a8684632b1.png)

I also tried to run the module with debugging mode true and the following was the output for that

[code]
Any suggestion or am I doing something wrong?

[2021-12-22 13:09] ashishnetworks commented on #323
Adding `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"` to the code worked for me. But FYI it works without any issue on the browser and curl.

[2021-12-30 07:12] adenhertog opened #324 "Incompatible with esbuild/bundling tools"
Due to dynamic/runtime `requires` (`client.js:95`), tools such as esbuild won't include the runtime libraries when producing a runtime bundle (see also: https://github.com/blakmatrix/node-zendesk/issues/282)

Can these `requires` be done explicitly in order to work properly with these tools?

eg:

[code]

[2022-02-08 22:03] msucorey commented on #303
When you call createClient add `helpcenter: true` to args and on your `remoteUri`, append '/help_center'.  This creates a help center Client that inherits from base and adds methods found in lib/client/helpcenter (and detailed in docs).

[2022-02-21 17:32] stormsa opened #331 "Types do not match code"
Hello,

I found your lib really useful and thank you for it.
I use it with typescript and I try to use it with @types/node-zendesk :
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node-zendesk

The library was supposed to define your code but it does not :

Example with show user :
interface ResponsePayload {
        user: ResponseModel;
}
show(userId: ZendeskID): Promise<Res

[2022-02-21 17:37] stormsa commented on #251
Hello I have open a issue right there : https://github.com/blakmatrix/node-zendesk/issues/331
It's seems @types/node-zendesk  does not match your code.
Also your project does not provide pagination information ?
Object are destructed and does not match zendesk api I found.
Please tell me if it's normal or maybe my version don't match.
Thank you for your help

[2022-02-21 17:38] stormsa commented on #331
node-zendesk version : 2.0.0 or 2.1.0
@types/node-zendesk 2.0.6
zendesk documentation : https://developer.zendesk.com/api-reference/ticketing/users/users/#show-user

[2022-03-02 05:05] Rakeshkumar1410 opened #334 "Zendesk Error (401): Not Authorized"
I want to implement your API in Node.js with Single sign-on
JWT method , however I had reached out with your support team and your team has suggested to me use the below npm for the Node.js
Node-zendesk
I have implemented the code as same at our end and host on https but facing the below error message:
“Zendesk Error (401): Not Authorized"
Below error comes after the call this
![image](https://use

[2022-03-22 18:48] SamSokolin commented on #331
Also running into this issue!

[2022-03-29 18:20] roco1234 opened #336 "Bad Request for create userfields"
Zendesk userfields.create method is returning BadRequest. It expects type CreateUserField ( `{ key: string} `).

Postman requests an object of type `{ user_field: { key: string} } `

Is the problem in node-zendesk or with the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) package?

[2022-03-30 16:40] javamatte commented on #280
Upgrading to node-zendesk 2.1.0 has not fixed this issue.

Executing the code in the initial comment now yields an error, though. Here it is:
[code]

Executing the exact same script with versions prior to v2.x return the expected array of results + the continuation information (end_of_stream, next_page and end_time) with no errors.

[2022-04-01 15:27] goldylucks opened #340 "list users by multiple roles"
Not sure this is supported, I'm trying to do this:

[code]

and getting empty response.

this however works:
[code]

happy to submit a PR with a bit of guidance, I started developing my own zd client module and then saw this library :)

btw, that method isn't on the docs nor on the types library, happy to add it there as well!

[2022-04-01 15:47] goldylucks commented on #340
After poking around the code a bit, I tried to hack it like this:

[code]

but it isn't exposed on the client

[2022-04-01 15:48] goldylucks commented on #340
A nice API could be:

[code]

[2022-04-13 07:49] kr8n3r opened #341 "Prototype Pollution in async"
The latest possible version that can be installed is 1.5.2 because of the following conflicting dependency:

node-zendesk@2.1.1 requires async@^1.4.0 via nconf@0.11.3
The earliest fixed version is 3.2.2.

[2022-04-13 20:53] neztEx commented on #341
+1 to this, there is also prototype pollution in node-zendesk@2.1.1 › nconf@0.11.3.

The earliest fixed version is nconf@0.11.4

[2022-04-19 08:13] kr8n3r commented on #341
nconf 0.12 containing a CVE mitigation has been released https://github.com/indexzero/nconf/releases/tag/v0.12.0

[2022-04-20 19:30] devinparker opened #344 "categories.list returns 404"
Using the categories method listed [here](https://blakmatrix.github.io/node-zendesk/api/#categories), I'm getting a 404 response.
I'm able to pull user lists and other things so i'm assuming there is an issue with categories. please help!

here is the code:
[code]

[2022-04-30 00:02] #341 closed

[2022-04-30 00:04] #308 closed

[2022-06-02 15:53] sergiuds commented on #281
Still happening on node 16.15

[2022-06-09 18:32] danoyoung opened #347 "incremental export for satisfaction ratings should be calling requestAll vs request?"
It seems that the satisfaction rating incremental export should be calling  requestAll vs request.  Currently when called only 100 ratings are return for the given start_time.

https://github.com/blakmatrix/node-zendesk/blob/7812774ede046a6bfd4664364ad912b267f54ac0/lib/client/satisfactionratings.js#L36

[2022-06-17 20:07] vettloffah opened #348 "Import custom object records"
I'm attempting to import a bunch of records for a custom object. Can that be accomplished with this library?

https://developer.zendesk.com/api-reference/custom-data/custom-objects-api/resources/#create-object-record

[2022-07-17 01:51] brendanmorrell commented on #331
same issue on creating a ticket

[2022-07-17 01:52] brendanmorrell commented on #282
Same:
[code]

This is on a vercel deployment

[2022-08-11 05:57] Onaxim commented on #334
Make sure to specify the full API route for your Zendesk subdomain as the remote URI, like `https://<your-sub-domain>.zendesk.com/api/v2/`.

[2022-08-29 13:05] jase-k commented on #331
Running into this issue as well. If I modify the file:  node_modules/node-zendesk/lib/client/client.js by commenting out / deleting lines 319-332 it works as expected with the types definition. (at least for the tickets api).

I'd prefer that the objects returned from the calls match the zendesk documentation (i.e. returning the parent object, rather than the child object).

Here is the commented

[2022-11-15 18:52] cesarpachon opened #349 "error message: "Must use import to load ES Module""
hello, adding this library to my project that uses mjs modules (node 14) I got the mentioned error message,  code: 'ERR_REQUIRE_ESM'
what is the recommended way to use this library in a ESM environment?

[2022-11-25 14:48] cesarpachon opened #351 "errors returned as buffer instead of strings"
hello, what is the proper way to obtain a readable error message from a 400 error?
right now I am getting a partial render of the result as a uint8 buffer, not an string:

[code]
by now, I edited the node-zendesk/lib/client.js file in the node-modules folder in order to parse the result buffer to string, it works but obviously this is the wrong way to do it. I wonder if I am missing some step to p

[2022-11-25 16:10] cesarpachon commented on #235
sorry I see this is a ticket closed as completed long time ago, but I can't figure what is the official way of passing additional parameters in the current version.